/*639px and below*/
@media screen and (max-width: 39.938em) {     
    #logo > img {
        max-width: 50%;
    }
    
    #topNav {
        margin: 0 4% 0 4%;
    }
    
    nav {
        margin: 0 17%;
        padding: 5px 0 5px 0;
    }
    
    article { 
        padding: 15px 25px 25px 25px;
    }
    
    #content {
        margin: 0 15px 15px 15px;
    }
    
    #copyright {
        font-size: 70%;
        padding-left: 10px;
    }

    #socialMedia {
        font-size: 70%;
        padding-right: 10px;
    }
    
}

/*640px and above*/
@media screen and (min-width: 39.939em) {
   #content-bg {
        background: #fff;
        margin: 15px 15px 0 15px;
    }  
    
    article { 
        padding: 45px 65px 65px 65px;
    }
    
    #content {
        margin: 0 35px 35px 35px;
    }
    
    nav {
        padding: 20px 0 25px 0;
    }
    
    #copyright {
        margin-left: 50px;
    }

    #socialMedia {
        margin-right: 50px;
    }
}

/* between 640px and 792px, inclusive*/
@media screen and (min-width: 39.939em) and (max-width: 49.5em) { 
    #topNav {
        margin: 0 4% 0 4%;
    }
    
    .menu a {
        padding: 0.7rem 0.7rem;
    }
    
    nav {
        padding: 20px 0 15px 0;
    }
}

@media screen and (min-width: 49.51em) { 
    #topNav {
        margin: 0 8% 0 8%;
    }
}

/*1000px and above*/
@media screen and (min-width: 62.5em) { 
    #definition {
        size: 75%;
    }
    
    nav > ul > li > a{
        font-size: 125%;
    }
}

@media screen and (min-width: 75em) {
    #aboutMeText > p {
        font-size: 125%;
    }
}

