/*639px and below*/
@media screen and (max-width: 39.938em) {            
    #projDescMain {
        padding: 15px 45px;
    }
    
    .upArrow {
        max-width: 12%;
    }
    
    .viewProjButton {
        padding: 15px 85px 55px 85px;
    }
    
    .projectGalleryImg {
        margin-bottom: 10px;
    }
    
    #logo > img {
        max-width: 50%;
    }
    
    #topNav {
        margin: 0 4% 0 4%;
    }
    
    nav {
        padding: 5px 0 5px 0;
    }
    
    article { 
        padding: 15px 25px 25px 25px;
    }
    
    #content {
        margin: 0 15px 15px 15px;
    }
    
    #copyright {
        font-size: 70%;
        padding-left: 10px;
    }

    #socialMedia {
        font-size: 70%;
        padding-right: 10px;
    }
    
    .menu a {
        padding: 0.5rem 1rem;
    }
    
    .h5 {
        margin-bottom: 0;
    }
    
    #aboutMeImg {
        padding: 0 25px 0 25px;
    }

    #aboutMeText {
        padding: 25px 25px 25px 25px;
    }
    
    #contactIntro {
        padding: 20px 20px 10px 20px;
    }
     
    #businessCard {
        width: 90%;
    }
     
    #contactInfo {
        margin: 20px 0 40px 0;
    }
    
    #logo > img {
        padding: 15px 0 0 0;
    }
        
    #aboutMeLikes {
        margin: 0 35px 0 35px;
        padding: 25px 0 25px 0;
    }
    
    #currentlyEnjoying {
        font-size: 125%;
    }
    
    #forFun, #ux, #listening {
        padding-bottom: 20px;
    }
    
    .aboutLikesImg {
        max-width: 80%;
    }
    
    #hooked {
        max-width: 60%;
    }
    
    .projectGalleryImg {
        max-width: 70%;
    }
    
    .projectItem {
        padding: 20px 80px;
    }
    
    .role {
        margin-bottom: 5px;
        font-size: 1.5em;
    }
        
    nav {
        margin: 0 17%;
    }
    
    .projDescTextList {
        padding-left: 15%;
    }
}

/*640px and above*/
@media screen and (min-width: 39.939em) {
    .projDescTextList {
        padding-left: 15%;
    }
    
    #projDescMain {
        padding: 15px 75px;
    }
    
    .upArrow {
        max-width: 8%;
    }
    
    #toolsSkills {
        padding: 0 30px 30px 30px;
    }
    
    #moreAboutMe {
        padding: 20px 200px;
    }
    
    .role {
        font-size: 1.2em;
    } 
    
    .viewProjButton {
        padding: 5% 5%;
    }
    
    .projectGalleryImg {
        margin-bottom: 30px;
    }
    
    #content-bg {
        background: #fff;
        margin: 15px 15px 0 15px;
    }  
    
    article { 
        padding: 45px 65px 65px 65px;
    }
    
    #content {
        margin: 0 35px 35px 35px;
    }
    
    #projDescHeader {
        margin: 0 35px 35px 35px;
    }
    
    nav {
        padding: 20px 0 25px 0;
    }
    
    #copyright {
        margin-left: 50px;
    }

    #socialMedia {
        margin-right: 50px;
    }
    
    #aboutMeImg {
        padding: 0 45px 45px 45px;
    }
    
    #aboutMeText {
        padding: 95px 45px 0 25px;
    }
    
    #contactIntro {
        padding: 60px 60px 10px 60px;
    }
    
    #businessCard {
        width: 70%;
    }
    
    #contactInfo {
        margin: 50px 0 50px 0;
    }
    
    #logo > img {
        padding: 25px 0 0 0;
    }
    
    #aboutMeLikes {
        margin: 0 35px 0 35px;
        padding: 25px 0 25px 0;
    }
        
    .aboutLikesImg {
        max-width: 100%;
    }
    
    #workGallery {
        padding: 0 25px;
    }
    
    .projectItem {
        padding: 0;
    }
}

/* between 640px and 792px, inclusive*/
@media screen and (min-width: 39.939em) and (max-width: 49.5em) { 
    #topNav {
        margin: 0 4% 0 4%;
    }
    
    .menu a {
        padding: 0.7rem 0.7rem;
    }
    
    nav {
        padding: 20px 0 15px 0;
    }
}

/* 792px and above */
@media screen and (min-width: 49.51em) { 
    .projDescTextList {
        padding-left: 25%;
    }
    
    .upArrow {
        max-width: 6%;
    }
    
    #topNav {
        margin: 0 8% 0 8%;
    }
          
    .viewProjButton {
        padding: 10% 10%;
    }
}

/*1000px and above*/
@media screen and (min-width: 62.5em) {     
    #projDescMain {
        padding: 15px 115px;
    }
    
    .upArrow {
        max-width: 5%;
    }
    
    .viewProjButton {
        padding: 15% 15%;
    }
    
    #definition {
        size: 75%;
    }
    
    nav > ul > li > a{
        font-size: 125%;
    }
    
    .role {
        font-size: 1.5em;
    }
        
    #workGallery {
        padding: 0;
    }
    
    .projectItem {
        padding: 0 15px;
    }
}

/*1150 and above*/
@media screen and (min-width: 71.875em) {
    #aboutMeText > p {
        font-size: 125%;
    }
        
    .viewProjButton {
        padding: 20% 20%;
    }
}

/*1400 and above*/
@media screen and (min-width: 87.5em) {
    #projDescMain {
        padding: 15px 255px;
    }
    
    .upArrow {
        max-width: 4%;
    }
    
    #aboutMeLikes {
        margin: 0 15px 0 65px;
    }
    
    #content-bg {
        background: #fff;
        margin: 55px 55px 0 55px;
    }
   
    #topNav {
        margin: 35px 8% 35px 8%;
    }
    
    #content {
        margin: 0 55px 55px 55px;
        padding: 65px;
    }
    
    nav > ul > li > a{
        font-size: 195%;
    }
}
