#content {
    background: #443542;
}

#content-bg {
    background: #fff;
}

#background {
    background: #929b9b;
}

nav > ul > li > a{
    color: #929b9b;
}

body {
    font-family: 'Saira Semi Condensed'; 
}

#copyright {
    padding: 10px 0 25px 0;
    color: #fff;
}

#socialMedia {
    padding: 25px 0 25px 0;
    color: #fff;
}

.cell {
  line-height: 50px;
  text-align: center;
}

.icon {
    max-width: 25px;
}

#prev {
    padding: 50px 0 0 10px;
}

#next {
    padding: 50px 10px 0 0;
}

#aboutMeImg > img {
    width: 100%;
}

#aboutMeImg > h3 {
    font-family: "Libre Baskerville";
    color: #eee0cb;
    padding: 25px 0 25px 0;
}

#aboutMeText > p {
    color: #eee0cb;
}

.title {
    font-family: "Libre Baskerville";
    color: #3e5c76;
}

.description {
    line-height: 0.6em;
    font-size: 1.2em;
}

.credits {
    line-height: 0.6em;
    font-size: 1em;
}

.year {
    line-height: 0.6em;   
    font-size: 1em;
    font-style: italic;
}

.aboutLikesImg {
    padding-bottom: 20px;
}

.active {
    color: #3e5c76;
    font-weight: 600;
}

.role {
    font-family: "Libre Baskerville";
    color: #eee0cb;
    font-size: 1.125em;
}

h2 {    
    font-family: "Libre Baskerville";
    color: #3e5c76;
}

#workGallery {
    color: #eee0cb;
}