#content {
    background: #443542;
}

#content-bg {
    background: #fff;
}

#background {
    background: #929b9b;
}

nav > ul > li > a{
    color: #929b9b;
}

body {
    font-family: 'Saira Semi Condensed'; 
}

#copyright {
    padding: 10px 0 25px 0;
    color: #fff;
}

#socialMedia {
    padding: 25px 0 25px 0;
    color: #fff;
}

.cell {
  line-height: 50px;
  text-align: center;
}

.icon {
    max-width: 25px;
}

#prev {
    padding: 50px 0 0 10px;
}

#next {
    padding: 50px 10px 0 0;
}

#aboutMeImg > img {
    width: 100%;
}

#aboutMeImg > h3 {
    font-family: "Libre Baskerville";
    color: #eee0cb;
    padding: 25px 0 25px 0;
}

#aboutMeText > p {
    color: #eee0cb;
}

.title {
    font-family: "Libre Baskerville";
    color: #3e5c76;
}

.description {
    line-height: 0.6em;
    font-size: 1.2em;
}

.credits {
    line-height: 0.6em;
    font-size: 1em;
}

.year {
    line-height: 0.6em;   
    font-size: 1em;
    font-style: italic;
}

.aboutLikesImg {
    padding-bottom: 20px;
}

.active {
    color: #3e5c76;
    font-weight: 600;
}

.role {
    font-family: "Libre Baskerville";
    color: #eee0cb;
}

h2 {    
    font-family: "Libre Baskerville";
    color: #3e5c76;
}

#workGallery {
    color: #eee0cb;
}

.projectItem {
    padding: 0 15px;
}

.projDescrip {
    margin-bottom: 0;
}

#pfDescrTitle {
    font-family: "Libre Baskerville";
    color: #eee0cb;
    padding: 30px 0 15px 0;
}

#pfDescrThumb {
    padding: 0 0 25px 0;
}

#projDescHeader {
    background: #443542;
    padding: 15px 45px;
    color: #eee0cb;
}

.projDescH3 {
    margin-bottom: 0;
}

.projDescH4 {
    text-decoration: underline;
    margin-bottom: 0;
}

#projDescText {
    margin-bottom: 50px;
}

#projDescMain {
    padding: 15px 45px;
}

.sectionHeader {
    padding-top: 20px;
    font-size: 115%;
}

.underline {
    line-height: 0;
}

.subsectionHeader {
    padding: 25px 0 0 0;
    font-size: 105%;
}

.subsectionThumb {
    padding: 0 0 25px 0;
}

.projDescTextList {
    text-align: left;
    font-size: 85%;
    padding-left: 25px;
}

.sumFindings {
    padding-top: 15px;
}

.pageLinks {
    color: #587b7f;
}

.backToTop {
    padding: 0 100px 15px 100px;
}

.upArrow {
    max-width: 40%;
}