body {
    background-color: #777;
    font-family: Verdana, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

/*
-----------
-----------
TOP NAVIGATION BAR STYLING
-----------
-----------
*/

#navHeader {
    height: 250px; 
    background: #fff; 
    background-size: cover; 
    margin-bottom: 50px; 
    position: relative; 
}

#navHeader a.logo { 
    position: absolute; 
    display: inline-block; 
    width: 450px; 
    height: 150px; 
    background: url(../img/website_logo.jpg) no-repeat 0 0; 
    background-size: contain; 
    z-index: 1; 
    top: 15px; 
    left: 20px; 
}

header a.logo span { 
    display: none; 
}

nav {
    background-color: rgba(0,0,0,.6); 
    position: relative; 
    padding: 0px 0px 0px 180px; 
}

#topNav {
    margin:0;
    padding:0;
}

#topNav li{
    display: inline-block;
    list-style-type:none;
    float: right;
    height:70px;
}

#topNav li a {
    color: #aaa;
    display: block;
    line-height: 56px;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

#topNav li a:hover {
    background-color: #aaa;
    color: #333;
    text-decoration:none;
}

.active {
    background-color: #4caf50;
}