@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Montserrat:400,700');

/*
-----------
SITE-WIDE STYLING
-----------
*/
body { font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: 400; color: #555; margin: 0; padding: 0; }
#page { max-width: 1400px; margin: 0 auto; position: relative; }



/*
-----------
TEXT
-----------
*/
p { margin: 0 0 1em 0; }
a { color: #555; }
a:visited { color: #555; }
h1 { font-family: 'Merriweather', serif; margin: 0 0 1em 0; font-size: 2.8em; font-weight: 700; }
h2 { font-family: 'Merriweather', serif; margin: 0 0 .5em 0; font-size: 1.6em; font-weight: 700; line-height: 1.1em; }
h3 { font-family: 'Merriweather', serif; margin: 0 0 .5em 0; font-size: 1.3em; font-weight: 700; }
h4 { font-family: 'Merriweather', serif; margin: 0 0 1.5em 0; font-size: 1em; font-weight: 700; }



/*
-----------
BUTTONS
-----------
*/
a.btn { text-decoration: none; color: #eee; background-color: #555; border: 1px solid #555; padding: 5px 15px; transition: background-color .5s; }
a.btn:hover { background-color: rgba(0,0,0,.3); color: #555; }



/*
-----------
HEADER
-----------
*/
header { height: 100px; position: relative; }

/* Header Logo */
img.logo { 
    z-index: 1;
    position: absolute; 
    width: 260px; height: 50px; 
    top: 15px; left: 25px;
}


/* hides link text  
header a.logo span { display: none; }
*/


/*
-----------
TOP NAVIGATION BAR STYLING
-----------
*/
nav { 
    position: absolute;
    top: 0px; left: 0px;
    padding: 20px 0 15px 0;
    width: 100%;
}

nav::after { content:''; display: block; clear: both; }

nav ul { list-style: none; margin: 0; padding: 0;  padding-left: 60%; }

nav ul li { float: left; }

nav ul li a {
    display: inline-block;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    width: 24%;
    position: relative;
    text-align: center;
}

nav ul li a:hover { color: #ccc; }

nav ul li a.current { color: #333; text-decoration: underline;}


/**********
------------
--SECTIONS--
------------
***********/
section { padding: 10px 60px; display: inline-block; }
section::after { content:''; display: block; clear: both; }


/*PROJECT GALLERY*/
section.projectGallery { margin-bottom: 50px; padding: 0; background-color: #ddd; }
section.projectGallery .content { margin: 15px; padding-top: 25px; }

section.projectGallery h2 { text-align: center; font-size: 2em; padding-top: 35px; }

section.projectGallery article { width: 33%; float: left; text-align: center; }
section.projectGallery article h3 a { text-decoration: none; font-size: 1.2em; }
section.projectGallery article h3 a:hover { text-decoration: underline; }
section.projectGallery article p { padding: 20px 0; }
section.projectGallery article img { width: 100%; }

/*ABOUT ME*/
section.main { background-color: #ddd;}
section.main article div { width: 45%; float: left; text-align: left; }
section.main article div p { padding-top: 40px; }
section.main article div img { width: 100%; }

section.aside { padding-top: 30px; padding-bottom: 30px; }
section.aside aside { width: 33%; float: left; }
section.aside aside div { width: 45%; float: left; }
section.aside aside div p { padding-top: 40px; padding-left: 15px; }
section.aside aside div img { width: 100%; }



/*
-----------
FOOTER
-----------
*/
footer { font-size: .8em; color: #eee; background-color: #666; padding: 25px 15px; }
footer p { padding-left: 25px; }



/*
-----------
MEDIA QUERIES
-----------
*/
@media screen and (max-width: 1053px) {
    nav > ul { padding-left: 55%;  transition: padding-left 0.2s; }
}

@media screen and (max-width: 948px) {
    /* Header */
    header { height: 125px; }
    
    /* Navigation */
    nav { padding-top: 70px; }
    nav ul { padding-left: 10px; transition: padding-left 0.2s; }
}

/* Phones (works for 347-475 width) */
@media screen and (max-width: 475px) {

    /* Navigation */
    nav ul { padding-left: 10px; }
    nav ul li a { font-size: .7em; width: 20%; }
    
    /* Section - Project Gallery */
    section.projectGallery article { width: 100%; float: none; text-align: left; }
    section.projectGallery article div.content { margin: 10px 20px 50px 20px; padding: 5px 0px; }
    section.projectGallery article p { padding: 5px 0 10px 0; margin: 0 0; }
    section.projectGallery h2 { text-align: left; padding-left: 20px; padding-bottom: 10px; }
    section.projectGallery article h3 { margin: 0 0 0 0; font-size: 1.1em; }
    section.projectGallery a.btn { font-size: .8em; }
    
    /* Buttons */
    a.btn { padding: 5px 10px; }

}