@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,600');

/*
-----------
-----------
SITE-WIDE STYLING
-----------
-----------
*/
body { font-family: 'Montserrat', sans-serif; font-size: 16px; color: #555; margin: 0; padding: 0; }
#page { max-width: 1400px; margin: 0 auto; position: relative; }

/*TEXT*/
p { margin: 0 0 1em 0; }
a { color: #555; }
h1 { font-family: 'Merriweather', serif; margin: 0 0 1em 0; font-size: 2.8em; }
h2 { font-family: 'Merriweather', serif; margin: 0 0 .5em 0; font-size: 1.6em; line-height: 1.1em; }
h3 { font-family: 'Merriweather', serif; margin: 0 0 .5em 0; font-size: 1.3em; }
h4 { font-family: 'Merriweather', serif; margin: 0 0 1.5em 0; font-size: 1em; }

/*BUTTONS*/
a.btn { text-decoration: none; color: #eee; background-color: #555; padding: 5px 15px; transition: background-color .5s; border-radius: 4px; }
a.btn:hover { background-color: rgba(0,0,0,.3); color: #555; }

button.toTop { display: none; color: #eee; background-color: #555; padding: 5px 15px; border-radius: 4px; margin: 20px 20px; font-size: .9em; transition: background-color .5s; }
button.toTop:hover { background-color: rgba(0,0,0,.3); color: #555; }

/*
-----------
-----------
HEADER
-----------
-----------
*/
header { height: 100px; position: relative; }

/* Header Logo */
img.logo { 
    z-index: 1;
    position: absolute; 
    width: 260px; height: 50px; 
    top: 15px; left: 25px;
}

header a.logo span { display: none; }


/*
-----------
-----------
NAVIGATION BAR
-----------
-----------
*/
nav { 
    position: absolute;
    top: 0px; left: 0px;
    padding: 30px 0 15px 0;
    width: 100%;
}

nav::after { content:''; display: block; clear: both; }

nav ul { list-style: none; margin: 0; padding: 0;  padding-left: 60%; }

nav ul li { float: left; }

nav ul li a {
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    width: 24%;
    position: relative;
    text-align: center;
}

nav ul li a:hover { color: #ccc; }


/*
------------
SECTIONS
------------
*/
section { padding: 10px 60px; display: inline-block; }
section::after { content:''; display: block; clear: both; }

/*PROJECT GALLERY*/
section.projectGallery { margin-bottom: 50px; padding: 0; background-color: #ddd; }
section.projectGallery .content { margin: 15px; padding-top: 25px; }
section.projectGallery h2 { text-align: center; font-size: 2em; padding-top: 35px; }
section.projectGallery article { width: 33%; float: left; text-align: center; }
section.projectGallery article h3 a { text-decoration: none; font-size: 1.2em; }
section.projectGallery article h3 a:hover { text-decoration: underline; }
section.projectGallery article p { padding: 20px 0; }
section.projectGallery article img { width: 100%; }

/*ABOUT ME*/
section.main { background-color: #ddd; padding-bottom: 30px; }
section.main article div { float: left; text-align: left; margin-left: 25px; margin-top: 25px; }
section.main article div:nth-child(1) { width: 30%; }
section.main article div:nth-child(2) { width: 60%; }
section.main article div p { padding-top: 65px; font-size: 1.2em; }
section.main article div img { width: 100%; max-height: 400px; max-width: 400px; }
section.main article div h2 { padding-bottom: 20px; }
section.aside { padding: 50px 60px; }
section.aside aside { width: 33%; float: left; }
section.aside aside div { width: 45%; float: left; }
section.aside aside div h3 { color: #787878; }
section.aside aside div p { padding-top: 40px; padding-left: 15px; font-size: 1.2em; }
section.aside aside div img { width: 100%; }

/*RESUME*/
section.resume { margin-bottom: 80px;}

/*CONTACT*/
section.contactHeader { background-color: #ddd; text-align: center; padding: 30px 0 20px 0; display: block; }
section.contactInfo { margin-top: 60px; margin-bottom: 60px; text-align: center; display: block; padding: 10px 0; }
section.contactInfo > div { float: left; }
section.contactInfo > div:nth-child(1) { width: 60%; }
section.contactInfo > div:nth-child(2) { margin-left: 60px;  background-color: #ddd; padding: 15px 15px; }
section.contactInfo #form input[type=text], section.contactInfo #form input[type=email] { border: 1px solid #ddd; border-radius: 4px;  height: 30px; width: 33%; background-color: #ddd; margin-bottom: 15px; outline: none; padding: 0 10px; color: #333; }
section.contactInfo #form input:focus { border: 3px solid #ddd; }
section.contactInfo #form input:disabled { background-color: #aaa; }
section.contactInfo #form input:nth-child(2) { margin-left: 25px; }
section.contactInfo #form input[type=submit] {display: block; margin-top: 20px; margin-left: 12%; color: #eee; background-color: #555; border: 1px solid #555; padding: 5px 15px; border-radius: 4px;}
section.contactInfo #form textarea { border: 1px solid #ddd; border-radius: 4px; max-width: 75%; width: 75%; height: 150px; background-color: #ddd; padding: 10px 10px; color: #333; }
section.contactInfo #form textarea:disabled { background-color: #aaa; }
section.contactInfo #info div img { width: 30px; height: 30px; }
section.contactInfo #info div a:nth-child(2) img { padding-left: 15px; }


/*
-----------
-----------
PROJECT DETAILS PAGES (WILL PROBABLY GET THEIR OWN TEMPLATE LATER)
-----------
-----------
*/
/*PORTFOLIO WEBSITE PROJECT DETAILS*/
article.PortfolioWebsite { padding: 10px 60px; display: inline-block; margin-bottom: 80px; }
article.PortfolioWebsite::after { content:''; display: block; clear: both; }


article.PortfolioWebsite header { background-color: #eee; display: inline-block; padding: 10px 60px; height: 100%; }
article.PortfolioWebsite header h2 { margin-top: 45px; margin-bottom: 20px;  margin-left: 33%; }
article.PortfolioWebsite h3 { margin-bottom: 0; }
article.PortfolioWebsite header p { margin-bottom: 25px; }
article.PortfolioWebsite header img { width: 33%; margin-left: 33%;  margin-bottom: 30px; }
article.PortfolioWebsite p span { font-weight: 600; }
article.PortfolioWebsite section h3 { margin-top: 30px;}
article.PortfolioWebsite section img.underline { width: 95%; margin-bottom: 25px; }
article.PortfolioWebsite section h4 { margin-bottom: 10px; }


/*PROJECTS 2 & 3 DETAILS*/
section.project2 { margin-bottom: 80px; }
section.project3 { margin-bottom: 80px; }

/*
-----------
-----------
FOOTER
-----------
-----------
*/
footer { font-size: .8em; color: #eee; background-color: #666; padding: 25px 15px; }
footer p { padding-left: 25px; }


/*
-----------
-----------
MEDIA QUERIES
-----------
-----------
*/
@media screen and (max-width: 1053px) {
    /* Navigation */
    nav > ul { padding-left: 50%; }
    
    /* About Me */
    section.main article div h2 { font-size: 1.4em; }
    section.main article div p { padding-top: 55px; }
    
    /*Contact*/
    section.contactInfo #info h3 { font-size: 1.1em;}
    section.contactInfo #info p { font-size: .9em;}
}

@media screen and (max-width: 948px) {
    /* Header */
    header { height: 125px; }
    
    /* Navigation */
    nav { padding-top: 70px; }
    nav ul { padding-left: 10px; transition: padding-left 0.2s; }
    
    /* About Me */
    section.main article div h2 { font-size: 1.2em;  padding-bottom: 10px; }
    
    /*Contact*/
    section.contactInfo #info { margin-left: 0;}
    section.contactInfo #info h3 { font-size: 1.1em;}
    section.contactInfo #info p { font-size: .8em;}
    section.contactInfo #form input[type=text], section.contactInfo #form input[type=email] { width: 75%; margin-left: 0; }
}

@media screen and (max-width: 842px) {
    /* Project Gallery */
    section.projectGallery h2{ margin-bottom: 0; font-size: 1.5em; }
    section.projectGallery article div h3 { font-size: 1.1em; }
    
    /* About Me */
    section.main article div:nth-child(1) { width: 100%; }
    section.main article div:nth-child(2) { width: 100%; }
    section.main article div p { padding-right: 80px; padding-top: 0; }
    section.main article div h2 { padding-bottom: 5px; }
    section.aside aside div { width: 85%; float: none; }
    section.aside aside div p { padding-top: 15px; padding-left: 0; font-size: 1em; }
    section.aside aside:nth-child(3) div:nth-child(1) img { margin-bottom: 80px; }
    
    /*Contact*/
    section.contactInfo #form { width: 65%; }
    section.contactInfo #form { font-size: 1.1em; }
}

@media screen and (max-width: 666px) { 
    section.projectGallery article div h3 { font-size: 1em; }
}

@media screen and (max-width: 613px) { 
    section.projectGallery article div h3 { font-size: .9em; }
}

@media screen and (max-width: 650px) { 
    /*Contact*/
    section.contactInfo { margin-bottom: 0; margin-top: 40px; padding-bottom: 0; }
    section.contactInfo #form {margin-left: 15%; margin-bottom: 40px; }
    section.contactInfo #info { display: block; width: 100%; padding: 15px 0; }
    section.contactInfo #form input[type=submit] { margin-left: 44%; }
}

@media screen and (max-width: 562px) { 
    /*Project Gallery*/
    section.projectGallery article { width: 100%; float: none; text-align: left; }
    section.projectGallery article div.content { margin: 10px 20px 50px 20px; padding: 5px 0px; }
    section.projectGallery article p { padding: 5px 0 10px 0; margin: 0 0; }
    section.projectGallery h2 { text-align: left; padding-left: 20px; padding-bottom: 10px; }
    section.projectGallery article h3 { margin: 0 0 0 0; font-size: 1.1em; }
    section.projectGallery a.btn { font-size: .8em; }
}

@media screen and (max-width: 490px) {
    button.toTop { display: inline; }
    
    /* About Me */
    section.main article div { margin-left: 0; } 
    section.main article div p { padding-right: 0; } 
    section.aside aside { width: 90%; float: none; margin-bottom: 40px; margin-left: 40px; }
    section.aside aside div img { width: 70%; margin-bottom: 10px; }
    section.aside aside:nth-child(3) div:nth-child(1) img { margin-bottom: 5px; }
    section.aside aside div p { padding: 0; }
}

@media screen and (max-width: 475px) {
    /*Navigation*/
    nav ul li a { font-size: .7em; width: 20%; }
    
    /*Contact*/
    section.contactInfo #form input[type=submit] { margin-left: 35%; }
    
    /*Buttons*/
    a.btn { padding: 5px 10px; }
}