<!-- need to keep id, because of anchor link in navigation -->

<footer class="grid-x grid-padding-x grid-frame align-center" id="footer">
    <div class="cell">
        <p><mark class="coralText">Want to work with me?</mark><br> 
        {% if page.url contains "about.html" %}
            See some of <a href="/index.html#projectGallery" class="aquaText">my work</a>
        {% else %}
            Learn more <a href="/about.html" class="aquaText">about me</a>
        {% endif %}
        , or contact me below (resume available upon request)</p>
        <a id="linkedInIcon" href="https://www.linkedin.com/in/emeriwether/">x</a>
        <a href="mailto:emeriwetherux@gmail.com?subject=Eleanor,%20we%20want%20to%20hire%20you!" class="aquaText" id="footerEmail">emeriwetherux@gmail.com</a>
        <p id="copyright">
            &copy; 
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>
            <br class="rwd-break">
            Designed and created by Eleanor Meriwether
 
        </p>
    </div>
</footer>