<!-- need to keep id, because of anchor link in navigation -->

<footer class="grid-x grid-padding-x grid-frame" id="footer">
    <div class="cell">
        <p>Want to work with me? <br> 
        {% if page.url contains "about.html"
            See some of <a href="/home.html" class="aquaText">my work</a>
        {% else %}
            Learn more <a href="/about.html" class="aquaText">about me</a>
        {% endif %}
        , or contact me below <span class="coralText">(resume available upon request)</span></p>
        <a href="https://www.linkedin.com/in/emeriwether/"><img src="images/linkedin.png"></a>
        <a href="mailto:emeriwetherux@gmail.com" class="aquaText" id="footerEmail">emeriwetherux@gmail.com</a>
        <p id="copyright">
            &copy; 
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>
            Designed and created by Eleanor Meriwether
 
        </p>
    </div>
</footer>