<!doctype html>

<html class="no-js" lang="en" dir="ltr">
    
    <head>
        <link href="https://fonts.googleapis.com/css?family=Cabin:700|Roboto+Condensed:400,400i,700" rel="stylesheet">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Eleanor Meriwether">
        <title>Eleanor Meriwether - User Experience Designer</title>
        <link rel="stylesheet" href="css2/foundation.css">
        <link rel="stylesheet" href="css2/footer.css">
    </head>
    
    <body>                       

        <nav>My Nav</nav>
        <header>My Header</header>
        <main>My Main</main>
        <footer id="footer">
            <p>Want to work with me? <br> Learn more <a href="" class="aquaText">about me</a>, or contact me below <span class="coralText">(resume available upon request)</span>:</p>
            <a href=""><img src="images/linkedin.png"></a>
            <a href="" class="aquaText" id="footerEmail">emeriwetherux@gmail.com</a>
        </footer>
    
        <script src="js2/vendor/jquery.js"></script>
        <script src="js2/vendor/what-input.js"></script>
        <script src="js2/vendor/foundation.min.js"></script>
        <script src="js2/app.js"></script>
    </body>

</html>