<div class="grid-x" id="topNav">
    <div class="medium-4 cell" id="logo"><img src="img/logo.png"></div>
    <div class="auto cell"></div>
    <nav class="medium-5 cell">
        <ul class="menu horizontal">
            {% assign pages = site.pages %}
            {% for p in site.pages %}
                {% if p.category == "main" %}
                    <li class="h5">
                        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>