<!-- RESPONSIVE NAVIGATION FOR SMALL SCREENS, REPLACES TOP-BAR-RIGHT BELOW -->
<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <div class="title-bar-left">
        <a href="/home.html"><img src="images/logo.png" id="smallScreenLogo"></a>
    </div>
    <div class="title-bar-right">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    </div>            
</div>

<!-- RESPONSIVE NAVIGATION FOR MEDIUM & UP SCREENS -->
<nav class="top-bar">
    
  <!-- LOGO ON LEFT-HAND-SIDE, VISIBLE FOR MEDIUM & UP SCREENS-->
  <div class="top-bar-left show-for-medium">
    <ul class="menu">
      <li><a href="/home.html"><img src="images/logo.png" id="mediumUpLogo"></a></li>
    </ul>
  </div>  
    
  <!-- NAVIGATION LINKS, SHOWS FOR MEDIUM & UP, IS REPLACED BY TITLE-BAR FOR SMALL SCREENS -->
  <div class="top-bar-right" id="responsive-menu">
    <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
      
      {% assign links = site.data.navigation %}
      {% for link in links %}
        {% assign class = nil %}
        {% if page.url contains link.url %}
          {% assign class= 'active-link' %}
        {% elsif link.sublinks %}
            {% for sublink in link.sublinks %}
                {% if page.url contains sublink.url %}
                    {% assign class= 'active-link' %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if link.sublinks %}
          <li>
            <a class="{{ class }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
            <ul class="menu vertical">
              {% for sublink in link.sublinks %}
                {% if sublink.title == "Project Gallery" %}
                    {% assign class= "show-for-small-only" %}
                {% endif %}
                {% if page.url contains sublink.url %}
                    {% assign sublink-class = 'sublink-active-link' %}
                {% else %}
                    {% assign sublink-class = nil %}
                {% endif %}
                <li ><a class="{{ sublink-class }}" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
            <li><a class="{{ class }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
      {% endfor %}
        <li><a href="#footer">Contact</a></li>
          
    </ul>
  </div>
    
</nav>