<link rel='stylesheet' href='/css2/processTimeline.css'>

<section class="cd-timeline js-cd-timeline">
		<div class="cd-timeline__container">
			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
					<img src="images/about/search.svg" alt="Picture">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h4>Discovery</h4>
					<p>Generally, I’ll start a project out with a discovery phase, where I work on understanding the project parameters, the business needs and goals, and any competitors.</p>
					<a href="#0" class="cd-timeline__read-more">View an example from my work</a>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
					<img src="images/about/users%20copy.svg" alt="Movie">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h4>User Research</h4>
					<p>Next, I’ll move into user research, where I try to understand who the users are, and how we can bring them value with the design that we create. To do this, I’ll do things like user interviews, and then use the information I gather to build personas, user journey maps, empathy maps, scenario maps, and storyboards, and then present my findings in an insight report. This is also a good place to stop and work with the client to create a plan for an MVP, so we know what to prioritize as we begin designing. </p>
					<a href="#0" class="cd-timeline__read-more">View an example from my work</a>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
					<img src="images/about/sitemap.svg" alt="Picture">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h4>Information Architecture</h4>
					<p>For the information architecture phase of the UX process, I will take my understanding of the target audience, and create user stories. These user stories then help me create a card sorting task, which I will have the users organize. The results of the card sorting will then inform my site map. I’ll also create user flows, in order to make sure that I accommodate the users’ main goals. </p>
					<a href="#0" class="cd-timeline__read-more">View an example from my work</a>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--location js-cd-img">
					<img src="images/about/pencil-alt.svg" alt="Location">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h4>Design</h4>
					<p>Next, I’ll draw some quick, high level sketches as a form of brainstorming. I’ll share my sketches with my team to get some feedback. Then I’ll create wireframes using an application like Sketch. At this point, I’m not worrying about stylistic options, but rather focusing on the structure and functionality of the product. Again, I’ll get feedback from my team on the wireframes. At this phase, I’ll also start a style guide that I can update and modify as the design solidifies. Finally, I’ll move on to creating prototypes using Sketch and something like Invision.</p>
					<a href="#0" class="cd-timeline__read-more">View an example from my work</a>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--location js-cd-img">
					<img src="images/about/users%20copy.svg" alt="Location">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h4>User Testing</h4>
					<p>Using the prototypes that I created, next I’ll do some user testing, to get the product in front of users and discover what works and and what doesn’t. Then I will adjust the designs based on the feedback I received.</p>
					<a href="#0" class="cd-timeline__read-more">View an example from my work</a>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
					<img src="images/about/thumbs-up.svg" alt="Movie">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h4>Handoff</h4>
					<p>Once I’ve made any revisions based on the results of the testing, I’ll pass the design off to the developers that are collaborating with me. I’ll work with the developers to make sure that the designs make sense and answer any questions they might have.</p>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->
		</div>
	</section> <!-- cd-timeline -->
	
<script src="js2/processTimeline.js"></script> <!-- Resource JavaScript -->