<link rel="stylesheet" type="text/css" href="/css2/processTimeline.css">

<ul class="timeline">

    <li class="event">
        <input type="radio" name="tl-group" checked/>
        <div class="thumb user-4"></div>
        <div class="content-perspective">
            <div class="content">
                <div class="content-inner">
                    <h3>Discovery</h3>
                    <p>Generally, I'll start a project out with a discovery phase, where I work on understanding the project parameters, the business needs and goals, and the competitive market.</p>
                </div>
            </div>
        </div>
    </li>

    <li class="event">
        <input type="radio" name="tl-group"/>
        <div class="thumb user-6"></div>
        <div class="content-perspective">
            <div class="content">
                <div class="content-inner">
                    <h3>User Research</h3>
                    <p>Next, I'll do user research, where I try to understand who the users are, and how to bring them value with the design that I create. To do this, I'll conduct user interviews, and use my findings to create artifacts such as personas, empathy maps, and storyboards. Then, I'll present my findings in an insight report.</p>
                </div>
            </div>
        </div>
    </li>

    <li class="event">
        <input type="radio" name="tl-group"/>
        <div class="thumb user-3"></div>
        <div class="content-perspective">
            <div class="content">
                <div class="content-inner">
                    <h3>Information Architecture</h3>
                    <p>To create the information architecture of the product, I’ll use my understanding of the target audience to create user stories, do card sorting tasks with users, and create a sitemap. I’ll also usually create user flows, in order to make sure that I accommodate the users’ main goals. </p>
                </div>
            </div>
        </div>
    </li>

    <li class="event">
        <input type="radio" name="tl-group"/>
        <div class="thumb user-5"></div>
        <div class="content-perspective">
            <div class="content">
                <div class="content-inner">
                    <h3>Design</h3>
                    <p>Next, I’ll move into the design phase. I’ll usually start with sketches, and then I’ll use programs such as Sketch, Photoshop, and InVision to create wireframes and prototypes. I’ll also create a style guide early on in the design phase, and then adjust it as the design changes and formalizes. </p>
                </div>
            </div>
        </div>
    </li>

    <li class="event">
        <input type="radio" name="tl-group"/>
        <div class="thumb user-2"></div>
        <div class="content-perspective">
            <div class="content">
                <div class="content-inner">
                    <h3>User Testing</h3>
                    <p>Using the prototypes that I created, next I’ll do some user testing, to get the product in front of the target audience and discover what works and and what doesn’t. Then I'll make revisions on the design based on the results of the testing.</p>
                </div>
            </div>
        </div>
    </li>

    <li class="event">
        <input type="radio" name="tl-group"/>
        <div class="thumb user-7"></div>
        <div class="content-perspective">
            <div class="content">
                <div class="content-inner">
                    <h3>Hand-off</h3>
                    <p>Finally, I’ll pass the design off to the developers that are collaborating with me. I like to work as closely as possible with the developers to make sure that I've given them everything they need, that the designs make sense, and to answer any questions they might have.</p>
                </div>
            </div>
        </div>
    </li>


</ul>