<!-- MAKE STICKY -->

<nav class="grid-container projectNav">
    <div class="grid-x grid-margin-x align-center align-middle">

            <a href="/index.html#projectGallery" class="small-9 cell text-center returnToHome">&times; RETURN TO PROJECT GALLERY</a>
            <div class="cell">
                <div class="grid-x align-center align-middle">
                    <a class="small-4 cell button back" href="{{ page.back }}">PREVIOUS</a>
                    <p class="small-4 cell text-center">CASE STUDY <br class="rwd-break">({{ page.projectNumber }} of 3)</p>
                    <a class="small-4 cell button" href="{{ page.next }}">NEXT</a>
                </div>
            </div>

    </div>
</nav>
