<!-- SMALL & MED -->
<div class="small-4 cell large switch headerToggle hide-for-large">
  <input class="switch-input" id="smallSwitch" type="checkbox" name="smallSwitch" onchange="toggleImagesSmall();">
  <label class="switch-paddle" for="smallSwitch">
    <span class="switch-active" aria-hidden="true">AFTER</span>
    <span class="switch-inactive" aria-hidden="true">BEFORE</span> 
  </label>
</div>

<!-- LARGE -->
<div class="grid-x align-center show-for-large">   
    <div class="small-4 cell large switch headerToggle">
      <input class="switch-input" id="largeSwitch" type="checkbox" name="largeSwitch" onchange="toggleImagesLarge();">
      <label class="switch-paddle" for="largeSwitch">
        <span class="switch-active" aria-hidden="true">AFTER</span>
        <span class="switch-inactive" aria-hidden="true">BEFORE</span> 
      </label>
    </div>
</div>