<!doctype html>
<html lang="en">
     
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eleanor Meriwether - User Experience Designer</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="../js/scripts.js"></script>
        <script type="application/ld+json">
        {
            "url": "http://www.emeriwether.com",
            "name": "Eleanor Meriwether - User Experience Designer"
        }
        </script>
    </head>

    <body>
        
        <div id="page">
            <header role="banner">
                <a class="logo" title="Eleanor Meriwether" href="/index.html"><span>Eleanor Meriwether</span></a>
            </header>
            
            {{content}}
            
            <nav role="navigation">
                <ul id="topNav" class="w3-bar w3-black">
                    <li class="current w3-bar-item w3-button"><a href="#" title="Home">WORK</a></li>
                    <li class="w3-bar-item w3-button"><a href="#" title="About">ABOUT</a></li>
                    <li class="w3-bar-item w3-button"><a href="#" title="Resume">RESUME</a></li>
                    <li class="w3-bar-item w3-button"><a href="#" title="Contact">CONTACT</a></li>
                </ul>
            </nav>
            
            <footer role="contentinfo" class="page-footer">
                <p>&copy; 2017 Eleanor Meriwether</p>
            </footer> 
        </div>    
        
    </body>
</html>