<!doctype html>

<html class="no-js" lang="en" dir="ltr">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Eleanor Meriwether">
        <title>Eleanor Meriwether - User Experience Designer</title>
        <link rel="stylesheet" href="css2/foundation.css">
        <link rel="stylesheet" href="css2/site.css">
        <link rel="stylesheet" href="css2/footer.css">
        <link rel="stylesheet" href="css2/navigation.css">
        
        <link rel="stylesheet" href="css2/about.css">
        <link rel="stylesheet" href="css2/home.css">
        <link rel="stylesheet" href="css2/project.css">
        
    </head>
    
    <body style="background-image: url(images/home/homePage_bg.jpg);">
    
        {% include navigation2.html %}
        
        {{ content }}
        
        {% include footer2.html %}
        
    </body>
    
</html>