<!doctype html>

<html class="no-js" lang="en" dir="ltr">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Eleanor Meriwether">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{site.description}}{% endif %}">
        <title>{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}</title>
        <link rel="canonical" href="{{site.baseurl}}{{page.url}}">
        
        <link rel="stylesheet" href="/css2/foundation.css">
        <link rel="stylesheet" href="/css2/site.css">
        <link rel="stylesheet" href="/css2/footer.css">
        <link rel="stylesheet" href="/css2/navigation.css">
        <link rel='stylesheet' href='/css2/toggle.css'>
        <link rel="stylesheet" href="{{page.css}}">
        <link rel="stylesheet" type="text/css" href="/css2/processTimeline.css">
        
        <link rel="shortcut icon" href="../favicon.ico"> 
        
    </head>
    
    <body>
    
        {% include navigation2.html %}
        
        {{ content }}
        
        {% include footer2.html %}
        
        <script src="/js2/vendor/jquery.js"></script>
        <script src="/js2/vendor/what-input.js"></script>
        <script src="/js2/vendor/foundation.js"></script>
        <script src="/js2/app.js"></script>
        <script src="/js2/modernizr.custom.63321.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js2/smoothScrolling.js"></script>
        
    </body>
    
</html>