<!doctype html>
<html lang="en">
     
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Eleanor Meriwether">
        <title>Eleanor Meriwether - User Experience Designer</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="../js/scripts.js"></script>
        <script type="application/ld+json">
        {
            "url": "http://www.emeriwether.com",
            "name": "Eleanor Meriwether - User Experience Designer"
        }
        </script>
    </head>

    <body>
        
        <div id="page">
            <header role="banner">
                <a title="Eleanor Meriwether" href="/index.html"><img src="/img/website_logo.jpg" alt="logo" class="logo" ></a>
            </header>
            
            {{content}}
            
            <nav role="navigation">
                <ul>
                    <li><a href="index.html" title="Work" >WORK</a></li>
                    <li><a href="about.html" title="About">ABOUT</a></li>
                    <li><a href="resume.html" title="Resume">RESUME</a></li>
                    <li><a href="contact.html" title="Contact">CONTACT</a></li>
                </ul>
            </nav>
        
            <footer role="contentinfo" class="page-footer">
                <p>&copy; 2017 Eleanor Meriwether</p>
            </footer> 
        </div>    
        
    </body>
</html>