<!doctype html>

<html class="no-js" lang="en" dir="ltr">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Eleanor Meriwether">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{site.description}}{% endif %}">
        <title>{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}</title>
        <link rel="canonical" href="{{site.baseurl}}{{page.url}}">
        
        <link rel="stylesheet" href="/css2/foundation.css">
        <link rel="stylesheet" href="/css2/site.css">
        <link rel="stylesheet" href="/css2/footer.css">
        <link rel="stylesheet" href="/css2/navigation.css">
        <link rel="stylesheet" href="/css2/project_header_image.css">
        <link rel='stylesheet' href="/css2/projectNavigation.css">
        <link rel='stylesheet' href="/css2/toggle.css">
        <link rel="stylesheet" href="{{page.css}}">
        
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        
    </head>
    
    <body>
        
        {% include navigation2.html %}

        {% include projectNavigation.html %}
        
        <header>
            
            <div class="grid-container projectHeader">
            
                <div class="card headerSectionCard">
                
                    <!-- HEADER TITLE -->                
                    <div class="projectHeaderTitle">
                        <h1 class="medium-text-center" id="projectNumber">PROJECT {{ page.projectNumber }}</h1>
                        <h2 class="medium-text-center" >{{ page.projectTitle }}</h2>
                        {% if page.readLength %}
                            <p class="medium-text-center" style="color: #EBEDF3; margin-top: 24px;">{{ page.readLength }} minute read</p>
                        {% endif %}
                    </div>

                    <!-- HEADER IMAGE -->
                    <div id="headerImage">
                        {% if page.projectToggle %}
                            {% include toggle.html %}
                            {% include project_header_image.html %}                          
                        {% else %}
                            {% include project_header_image.html %}  
                        {% endif %}                     
                    </div>

                    <!-- HEADER TEXT -->            
                    <div class="headerText">
                        <div class="grid-x grid-padding-x align-center">
                            <div class="medium-6 cell">
                                <p class="headerDetailsLabel"><mark class="boldText whiteText">PROJECT HIGHLIGHTS</mark></p> 
                                <ul class="headerDetailsText">
                                    {% for highlight in page.projectHighlights %}
                                        <li>{{ highlight }}</li>
                                    {% endfor %}
                                </ul>
                            </div>        
                            <div class="medium-6 cell">                        
                                <p class="headerDetailsLabel"><mark class="boldText whiteText">THE TEAM</mark></p>
                                <ul class="headerDetailsText">
                                    {% for member in page.projectTeam %}
                                        <li>{{ member }}</li>
                                    {% endfor %}
                                </ul>
                            </div>                        
                            <div class="medium-6 cell">                        
                                <p class="headerDetailsLabel"><mark class="boldText whiteText">TOOLS USED</mark></p>
                                <ul class="headerDetailsText">
                                    {% for tool in page.Tools %}
                                        <li><a href="{{ tool.url }}" style="color: #EBEDF3; text-decoration: underline;">{{ tool.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="medium-6 cell">                        
                                <p class="headerDetailsLabel"><mark class="boldText whiteText">TIMELINE</mark></p>
                                <ul class="headerDetailsText">
                                    {% for timeline in page.projectTimeline %}
                                        <li>{{ timeline }}</li>
                                    {% endfor %}
                                </ul>                            
                            </div>  
                        </div>
                    </div>   
                
                </div>
                
            </div>    
                
        </header>

        <main class="grid-container projectBody">{{ content }}</main>

        {% include footer2.html %}      
        
        <script src="/js2/toggleScript.js"></script>
        <script src="/js2/vendor/jquery.js"></script>
        <script src="/js2/vendor/what-input.js"></script>
        <script src="/js2/vendor/foundation.js"></script>
        <script src="/js2/app.js"></script> 
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js2/smoothScrolling.js"></script>-->
        <script src="/js2/modal.js"></script>
        <script src="js2/carousel.js"></script>
        
    </body>
    
</html>
