<!doctype html>

<html class="no-js" lang="en" dir="ltr">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Eleanor Meriwether">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{site.description}}{% endif %}">
        <title>{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}</title>
        <link rel="canonical" href="{{site.baseurl}}{{page.url}}">
        
        <link rel="stylesheet" href="/css2/foundation.css">
        <link rel="stylesheet" href="/css2/site.css">
        <link rel="stylesheet" href="/css2/footer.css">
        <link rel="stylesheet" href="/css2/navigation.css">
        <link rel="stylesheet" href="/css2/project_header_image.css">
        <link rel='stylesheet' href='/css2/projectNavigation.css'>
        <link rel='stylesheet' href='/css2/toggle.css'>
        <link rel="stylesheet" href="{{page.css}}">
        
    </head>
    
    <body>
        
        {% include navigation2.html %}

        {% include projectNavigation.html %}
        
        <header class="grid-container-padded projectHeader">
            <section class="grid-x grid-margin-x align-middle">

                <!-- HEADER TEXT -->            
                <article class="large-6 cell large-order-2" id="headerText">
                    <h1 class="text-left" id="projectNumber">PROJECT {{ page.projectNumber }}</h1>
                    <h2 class="text-left">{{ page.projectTitle }}</h2>
                    <h3 class="text-left italicText">{{ page.description }}</h3>
                    <img class="sectionUnderline" src="images/sectionUnderline_white.svg" alt="section underline">
                    <h4 class="text-left headerSectionLabel">PROJECT OVERVIEW</h4>
                    <p class="text-left"><mark class="boldText goldText">PROJECT GOAL:</mark> {{ page.projectGoal }}</p>
                    <p class="text-left"><mark class="boldText goldText">PROJECT DURATION:</mark> {{ page.projectDates }}</p>
                    <p class="text-left"><mark class="boldText goldText">THE CLIENT:</mark> {{ page.projectClient }}
                    <p class="text-left"><mark class="boldText goldText">THE TEAM:</mark> {{ page.projectTeam }}
                    <p class="text-left"><mark class="boldText goldText">MY ROLE(S):</mark> {{ page.projectRoles}}</p>
                    <p class="text-left"><mark class="boldText goldText">FEATURED SKILLS:</mark> {{ page.featuredSkills }}</p>
                </article>   

                <!-- HEADER IMAGE -->
                <div class="large-6 cell large-order-1" id="headerImage">
                    <h4 class="text-left cell headerSectionLabel hide-for-large">{{ page.headerImageLabel }}</h4>
                    {% include toggle.html %}
                    {% include project_header_image.html %}            
                 </div>

            </section>            
        </header>

        <main class="grid-container projectBody">{{ content }}</main>

        {% include footer2.html %}      
        
        <script src="/js2/toggleScript.js"></script>
        <script src="/js2/vendor/jquery.js"></script>
        <script src="/js2/vendor/what-input.js"></script>
        <script src="/js2/vendor/foundation.js"></script>
        <script src="/js2/app.js"></script> 
        
    </body>
    
</html>