/* PAGE SPECIFIC STYLING */
body {
    background-image: url(/images/texturedBackground.jpg);
}

main {
    padding-bottom: 3em;
    padding-top: 2em;
}

/* HEADER */
header {
    padding: 3em 3em 4em 3em;
}

header h1 {
    font-size: 2.5em;
}

header h2 {
    font-size: 1.5em;
}

header h3 {
    font-family: Cabin;
    font-weight: 400;
    font-size: 1.05em;
}

header p {
    padding-top: 1.5em;
}

#headerImg {
    padding: 1.75em 0.7em 0 0.7em;
}

#caret-square-down {
    max-width: 0.85em;
    max-height: auto;
    padding-left: 0.2em;
}

.rwd-break {
    display: block;
}

/* ASIDE */
/* COLLAGE */
.collage {
    padding: 0 0.5em;
}

.collage img {
    border: 1.5px solid transparent;
    height: 100%;
    width: 100%;
}

.collage img:hover {
    opacity: 0.7;
}

/* COLLAGE MODALS */
aside .card {
    border: 0;
}

aside .card-section {
    padding-left: 0;
}

aside .card img {
    width: 100%;
    height: auto;
    padding-top: 1.5em;
}

.imageNumber {
    font-family: "Roboto Condensed";
    padding: 0 1em;
}

.card img {
    padding-top: 1.75em;
    object-fit: contain;
    width: 100%;
}


/* MAIN */
.aboutSection {
    padding: 2.5em 1.5em 0 1.5em;
}

.aboutSection h4 {
    padding-top: 0.75em;
    font-size: 1.5em;
    padding-left: 0.65em;
}

.aboutSection p {
    font-family: Cabin;
    font-weight: 400;
    padding-left: 0.65em;
}

main section:nth-child(3) p {
    padding-bottom: 5em;
}

.sectionTag {
    padding-left: 1em;
}

/* TOOLBOX */
#toolbox {
    position: relative;
    background-image: url(/images/about/toolbox/toolbox.png);
    height: 18em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.toolboxIcon {
    display: inline;
    position: absolute;
}

/* large icons */
#sketch {
    width: 20%;
    top: -75px;
    left: 35px;
}

#photoshop {
    width: 20%;
    top: 35px;
    left: 0px;
}

#html {
    width: 20%;
    top: 0;
    left: 150px;
}

#css {
    width: 20%;
    top: -65px;
    left: 170px;
}

/* medium icons */
#illustrator {
    width: 17%;
    top: 92px;
    left: 50px;
}

#usertesting {
    width: 17%;
    top: 70px;
    left: 205px;
}

#omnigraffle {
    width: 17%;
    top: -20px;
    left: 225px;
}

#invision {
    width: 17%;
    top: -5px;
    left: 50px;
}

/* small icons */
#marvel {
    width: 14%;
    top: -40px;
    left: 115px;
}

#figma {
    width: 14%;
    top: 35px;
    left: 245px;
}

#javascript {
    width: 14%;
    top: 65px;
    left: 140px;
}

#usabilityhub {
    width: 14%;
    top: 55px;
    left: 85px;
}


/* MEDIA QUERIES */
/* 400+ */
@media screen and (min-width: 25em) {
    /* large icons */
    #sketch { top: calc(-75px + 10px); left: calc(35px + 10px); }

    #photoshop { top: calc(35px + 10px); left: calc(0px + 10px); }

    #html { top: calc(0 + 10px); left: calc(150px + 10px); }

    #css { top: calc(-65px + 10px); left: calc(170px + 10px); }

    /* medium icons */
    #illustrator {top: calc(92px + 10px); left: calc(50px + 10px); }

    #usertesting { top: calc(70px + 10px); left: calc(205px + 10px); }

    #omnigraffle { top: calc(-20px + 10px); left: calc(225px + 10px); }

    #invision { top: calc(-5px + 10px); left: calc(50px + 10px); }

    /* small icons */
    #marvel { top: calc(-40px + 10px); left: calc(115px + 10px); }

    #figma { top: calc(35px + 10px); left: (245px + 10px); }

    #javascript { top: calc(65px + 10px); left: calc(140px + 10px); }

    #usabilityhub { top: calc(55px + 10px); left: calc(85px + 10px); }

}

/* Medium and up - 640px+ */
@media screen and (min-width: 40em) {    
    #toolbox {
        height: 21em;
    }
    
    main section:nth-child(3) p {
        padding-bottom: 1em;
    }
    
    .reveal.large.medReveal, .reveal.large.narrowReveal {
        width: 55%;
    }
    
    header {
        padding: 3em 4em 6em 4em;
    }
    
    .rwd-break {
        display: none;
    } 
    
    .aboutSection {
        padding: 3em 2.5em 0 2.5em;
    }
    
    .collage img {
        border: 3px solid #EBEDF3;
    }

    header h3 {
        font-size: 1em;
        font-family: Cabin;
    }
    
    #headerImg {
        padding: 0em 0.7em 0 0.7em;
    }
    
    header p {
        font-size: 1em;
    }
    
    .card img {
        max-height: 40vw;
    }
    
    .sectionTag {
        padding-left: 1em;
        max-width: 475px;
    }
    
    .aboutSection p {
        font-size: 1.2em;
    }

    .bodyText {
        padding: 0 0;
    }

}

/* 800px+ */
@media screen and (min-width: 50em) {
    header h3, header p {
        font-size: 1.2em;
    }
}

/* 1000px+ */
@media screen and (min-width: 62.5em) {
    header h2 {
        font-size: 1.6em;
    }
    
    header h3, header p {
        font-size: 1.3em;
    }
}

/* Large and up - 1024px+ */
@media screen and (min-width: 64em) {
    #toolbox {
        height: 33em;
    }
    
    .timelineDiv {
        padding-left: 300px;
    }
    
    .reveal.large.narrowReveal {
        width: 35%;
    }
    
    .reveal.large.medReveal {
        width: 45%;
    }
    
    header {
        padding: 3em 4em 5em 4em;
    }
    
    aside {
        padding-bottom: 1.5em;
    }
    
    .collage {
        padding-top: 2em;
    }
    
    .collage img {
        border: 4px solid #EBEDF3;
    } 
    
    .collage div {
        height: 10em;
    }  
    
    .aboutSection {
        padding-top: 3em;
    }
    
    .aboutSection h4 {
        padding-top: 0;
    }
    
    .aboutSection p {
        font-size: 1.3em;
    }
    
    .sectionTag {
        padding: 0 1em;
        max-width: 300px;
    }

    .bodyText {
        padding-left: 1.5em;
    }
}