/* PAGE SPECIFIC STYLING */
body {
    background: #EBEDF3;
}

main {
    padding-bottom: 3em;
}

/* HEADER */
header {
    padding: 3em 1em 3em 1em;
}

header h1 {
    font-size: 1.85em;
}

header h2 {
    font-family: Cabin;
    font-weight: 400;
}

header h3 {
    padding-top: 1.5em;
}

#headerImg {
    padding: 1.75em 0.7em 0 0.7em;
}

#caret-square-down {
    max-width: 0.85em;
    max-height: auto;
    padding-left: 0.2em;
}



/* ASIDE */
/* COLLAGE */
.collage {
    padding: 0 0.5em;
}

.collage img {
    border: 1.5px solid #EBEDF3;
    height: 100%;
    width: 100%;
}

.collage img:hover {
        opacity: 0.7;
}

/* COLLAGE MODALS */
aside .card {
    border: 0;
}

aside .card-section {
    padding-left: 0;
}

aside .card img {
    width: 100%;
    height: auto;
    padding-top: 1.5em;
}

.imageNumber {
    font-family: "Roboto Condensed";
    padding: 0 1em;
}

.card img {
    padding-top: 1.75em;
    object-fit: contain;
    width: 100%;
}

.reveal.large.narrowReveal {
    width: 35%;
}

.reveal.large.medReveal {
    width: 45%;
}


/* MAIN */
.aboutSection {
    padding: 2.5em 1em 0 1em;
}

.aboutSection h4 {
    padding-top: 0.75em;
    font-size: 1.5em;
    padding-left: 0.65em;
}

.aboutSection p {
    font-family: Cabin;
    font-weight: 400;
    padding-left: 1em;
    padding-right: 1em;
}

.sectionTag {
    padding-left: 2em;
    max-width: 350px;
}

.bodyText {
    padding: 0 1em;
}


/* MEDIA QUERIES */
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .aboutSection {
        padding: 3em 5.5em 0 5.5em;
    }
    

}

/* Medium and up */
@media screen and (min-width: 40em) {
   .collage img {
        border: 3px solid #EBEDF3;
    }

    header h2 {
        font-size: 1em;
        font-family: Cabin;
    }
    
    #headerImg {
        padding: 0em 0.7em 0 0.7em;
    }
    
    header h3 {
        font-size: 0.9em;
    }
    
    .card img {
        max-height: 40vw;
    }
    
    .sectionTag {
        padding-left: 1em;
    }

    .bodyText {
        padding: 0 0;
    }

}

/* Large and up */
@media screen and (min-width: 64em) {
    header {
        padding-left: 4.5em;
        padding-right: 4.5em;
    }
    
    header h1 {
        font-size: 2.5em;
    }
    
    header h2 {
        font-size: 1.5em;
    }
    
    header h3 {
        font-size: 1.2em;
    }
    
    aside {
        padding-bottom: 1.5em;
    }
    
    .collage {
        padding-top: 2em;
    }
    
    .collage img {
        border: 4px solid #EBEDF3;
    } 
    
    .collage div {
        height: 10em;
    }  
    
    .aboutSection {
        padding-top: 3em;
    }
    
    .aboutSection h4 {
        padding-top: 0.45em;
    }
    
    .sectionTag {
        padding-left: 33%;
        max-width: 550px;
    }

    .bodyText {
        padding-left: 3em;
    }
}