footer {
  background-color: #22252C;
  padding: 2em;
}

footer a, footer p {
    color: #EBEDF3;
    font-family: "Roboto Condensed";
    font-weight: 700;
}

/* RESPONSIVE LINE BREAK STYLING */
.rwd-break {
    display: block;
}

footer p {
    font-size: 1.4em;
}

#linkedInIcon {
    display: block;
    text-indent: -9999px;
    width: 35px;
    height: 35px;
    background: url('/images/linkedin_aqua.svg');
    background-size: 35px 35px;
}

#linkedInIcon:hover {
    background: url('/images/linkedin_coral.svg');
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
}

#footerEmail {
    padding-top: 1em;
    font-size: 1.2em;
    display: block;
}

#copyright {
    padding-top: 3.5em;
    padding-bottom: 1em;
    font-size: 1em;
}

/* Medium and up */
@media screen and (min-width: 40em) {
        footer p {
        font-size: 1.8em;
    }

    #footerEmail {
        font-size: 1.4em;
    }

    #copyright {
        font-size: 1em;
    }
        
    .rwd-break {
        display: none;
    }         

    #linkedInIcon {
        padding-top: 0;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    footer p {
        font-size: 2em;
    }

    #footerEmail {
        font-size: 1.5em;
    }

    #copyright {
        font-size: 1em;
    }
    
    #linkedInIcon {
        width: 42px;
        height: 42px;
        background-size: 42px 42px;
    }
    
    #linkedInIcon:hover {
        background: url('/images/linkedin_coral.svg');
        width: 42px;
        height: 42px;
        background-size: 42px 42px;
    }
    
}