/* SITE WIDE STYLING */
.aquaText {
    color: #1399AA;
}

.coralText {
    color: #E14658;
}


/* PAGE SPECIFIC STYLING */
header {
    padding: 3em 2em 5em 2em;
}

main {
    padding: 0em 2em 2em 2em;
}

.card {
    box-shadow: 6px 7px 10px 3px #B5B5B5;
    background: #FFFFFF;
    margin-bottom: 2.5em;
}

.myRole {
    color: #4A4a4a;
    font-size: 0.9em;
    font-family: Cabin;
}

.company {
    color: #E14658;
    font-size: 1.5em;
    font-family: "Roboto Condensed";
    font-weight: 700;
}

.linkToProject {
    color: #1399AA;
    font-family: Cabin;
}