body {
    background-image: url(/images/home/homePage_bg.jpg);
}

header {
    padding: 3em 3em 4em 3em;
}

.projectImage {
    height: 100%;
}

header h1 {
    font-size: 2em;
}

header h2 {
    font-size: 1.6em;
}

header p {
    padding-top: 1.5em;
    font-size: 1em;
    padding-bottom: 2em;
}

header img {
    width: 100%;
}

#sectionDivider {
    width: 100%;
    height: auto;
    padding: 1em 0 2em 0;
}

#featuredLabel {
    position: absolute;
    padding: 2% 2em;
}

#featuredLabel h2 {
    color: #1399AA;
}

#projectGallery {
    padding: 0em 3em 2em 3em;
}

main .card {
    box-shadow: 6px 7px 10px 3px #B5B5B5;
    background: #FFFFFF;
    margin-bottom: 2.5em;
    transition: transform .2s;
}

main .card:hover {
    transform: scale(1.05);
}

main .card img {
    width: 100%;
}

main .card p:first-child {
    font-size: 0.8em;
}

/* MEDIA QUERIES */
/* SMALL ONLY */
@media screen and (max-width: 39.9375em) {

}

/* Medium and up */
@media screen and (min-width: 40em) {
    header {
        padding: 3em 4.6em 5em 4.2em;
    }
    
    #projectGallery {
        padding: 0 4.6em 2em 4.6em;
    }
    
    #projectGallery h2 {
        font-size: 1.8em;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    header {
        padding: 3em 3.6em 4em 3.4em;
    }
    
    header h1 {
        font-size: 3em;
    }
    
    #sectionDivider {
        padding: .5em 7em 2em 7em;
    }
    
    #projectGallery {
        padding: 0 3.6em 2em 3.6em;
    }
    
    #projectGallery h2 {
        font-size: 2.5rem;
    }
}