body {
    background-image: url(/images/home/homePage_bg.jpg);
}

header {
    padding: 3em 2em 5em 2em;
}

header h1 {
    font-size: 2em;
}

main {
    padding: 0em 2em 2em 2em;
}

main .card {
    box-shadow: 6px 7px 10px 3px #B5B5B5;
    background: #FFFFFF;
    margin-bottom: 2.5em;
}

main .card img {
    width: 100%;
}

main .card p:first-child {
    font-size: 0.8em;
}

/* MEDIA QUERIES */
/* SMALL ONLY */
@media screen and (max-width: 39.9375em) {
    header h1 {
        padding-bottom: 1em;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    header h1 {
        font-size: 3em;
    }
}