nav a {
    color: #EBEDF3;
}

.active-link, .sublink-active-link {
    color: #1399AA;
    text-decoration: none;
    font-weight: 700;
}

#smallScreenLogo {
    max-width: 14em;
    max-height: auto;
    padding-top: 1em;
    margin-left: 1em;
}

#mediumUpLogo {
    max-width: 18em;
    width: 80%;
    padding: 1em 0 1em 2em;
}

/* attempt to target firefox specifically */
@media screen and (min--moz-device-pixel-ratio:0) {
    #mediumUpLogo {
        width: 15em;
        padding: 1em 0 1em 2em;
    }
}

/* end attempt */

.subnavText {
    font-size: 0.9em;
}


/* MEDIUM AND UP */
    @media screen and (min-width: 40em) {        
       #mediumUpLogo {
            padding: 1em 0 1em 3em;
        } 
    }

    /* LARGE AND UP */
@media screen and (min-width: 64em) {
    #mediumUpLogo {
        padding: 1em 0 1em 2em;
    } 
}

/* PREVENT FOUC */
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}