nav a {
    color: #EBEDF3;
}

.active-link, .sublink-active-link {
    color: #1399AA;
    text-decoration: none;
    font-weight: 700;
}

#smallScreenLogo {
    max-width: 14em;
    height: 100%;
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.subnavText {
    font-size: 0.9em;
}


/* MEDIUM AND UP */
@media screen and (min-width: 40em) {        
   #mediumUpLogo {
        max-width: 18em;
        width: 80%;
        padding: 1em 0 1em 2.5em;
    } 
    
    /* attempt to target firefox specifically */
    @media screen and (min--moz-device-pixel-ratio:0) {
        #mediumUpLogo {
            width: 15em;
            padding: 1em 0 1em 2em;
        }
    }
    /* end attempt */

    .top-bar-right {
        padding-right: 1em;
    }
}

    /* LARGE AND UP */
@media screen and (min-width: 64em) {
    #mediumUpLogo {
        padding: 1em 0 1em 3.5em;
    } 
    
    .top-bar-right {
        padding-right: 3.5em;
    }
}

/* PREVENT FOUC */
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}