#headerImage {
    padding-top: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

/* BEGIN BEFORE AND AFTER IMAGE */
/* Responsive monitor with scrollable image from: https://codepen.io/sergep/pen/vkaFt */
/* Transition definition */
.container {
  -webkit-transition: width 0.4s ease, height 0.4s ease;
  -moz-transition: width 0.4s ease, height 0.4s ease;
  -o-transition: width 0.4s ease, height 0.4s ease;
  transition: width 0.4s ease, height 0.4s ease;
}

/* The container that defines the dimenions of the monitor - used in media queries */
.container {
  width: 900px;
  height: 525px;
}

.container:hover {
  width: 950px;
  height: 555px;
}

/* Black monitor outline */
.monitor {
  padding: 4%;
  position:relative;
  background: #aaa;
  border-radius: 10px;
  height: 100%;
}

/* Camera on top of the monitor */
.monitor:before {
  content: "";
  display: block;
  background: #333;
  position: absolute;
  padding: 0.8%;
  margin-right: -0.4%;
  border-radius: 50%;
  right: 50%;
  top: 1.8%;
}

/* Power button on the bottom of monitor */
.monitor:after {
  content: "";
  display: block;
  background: #333;
  position: absolute;
  padding: 1%;
  border-radius: 10%;
  right: 4%;
  bottom: 1.5%;
}

/* The container of the content */
.screen {
  height: 100%;
  /*overflow: hidden; /* so that scroll bar is hidden */
}

/* Scrollable section inside the screen */
.content {
  height: 100%;
  /* width: calc(100% + 17px);  + 17px for scroll bar */
  width: calc(100%);
  overflow-y: scroll;
  position: relative;
}

.screen:after {
  content:'';
  display: block;
  height: 88%;
  background: #aaa;
  position: absolute;
  right: 0;
  top: 6%;
  width: 4%;
}

/* Image on the screen */
.content img {
  display: block;
  width: 100%;
}

/* Shadow on stand - have to set manually since border-top doesn't support % :( */
.monitor-stand {
  border-top: 24px solid #D1D3D6;
}

/* Bottom of stand */
.monitor-stand:after {
  content: '';
  position: absolute;
  background: #E7E8E9;
  height: 20%;
  width: 200%;
  margin-left: -50%;
  margin-top: 29%;
  border-radius: 5px;
}

/* Shadow */
.monitor-stand:before {
  content: '';
  position: absolute;
  width: 250%;
  height: 50%;
  margin-left: -75%;
  margin-top: 60%;
  opacity: 0.3;
  background: #000;
  border-radius: 50%;
}

/***********************/
/* BEGIN MEDIA QUERIES */

/* LARGE AND UP (>= 1024px) */
@media screen and (min-width: 64em) {
    #headerImage {
        padding-left: 2.5em;
        padding-right: 1em;
    }
    
    #headerToggle {
        padding-top: 6em;
        padding-left: 5%;
    }
    
    /* Stand */
    .monitor-stand {
      position: relative;
      margin: 0 auto;
      height: 15%;
      width: 20%;
      background: #F3F3F4;
    }
}

/* 1300px and less ------------------------------ */
@media (max-width: 1300px) {
    #headerToggle {
        padding-top: 10em;
    }
    
  .container {
    width: 600px;
    height: 349.5px;
  }

  .container:hover {
    width: 615px;
    height: 357.75px;
  }

  .monitor-stand {
    border-top: 15px solid #D1D3D6;
  }
}

/* 1200px and less ------------------------------ */
@media (max-width: 1200px) {
    #headerToggle {
        padding-top: 9em;
    }
    
  .container {
    width: 525px;
    height: 305.8125px;
  }

  .container:hover {
    width: 538.125px;
    height: 313.03125px;
  }

  .monitor-stand {
    border-top: 13.125px solid #D1D3D6;
  }
}

/* 1190px and less ------------------------------ */
@media (max-width: 1190px) {
  .container {
    width: 500px;
    height: 291.25px;
  }

  .container:hover {
    width: 512.5px;
    height: 298.125px;
  }

  .monitor-stand {
    border-top: 12.5px solid #D1D3D6;
  }
}

/* 1140px and less ------------------------------ */
@media (max-width: 1140px) {
  .container {
    width: 475px;
    height: 276.6875px;
  }

  .container:hover {
    width: 486.875px;
    height: 283.21875px;
  }

  .monitor-stand {
    border-top: 11.875px solid #D1D3D6;
  }
}

/* 1100px and less ------------------------------ */
@media (max-width: 1100px) {
  .container {
    width: 450px;
    height: 262.125px;
  }

  .container:hover {
    width: 461.25px;
    height: 268.3125px;
  }

  .monitor-stand {
    border-top: 11.25px solid #D1D3D6;
  }
}

/* 1060px and less ------------------------------ */
@media (max-width: 1060px) {
  .container {
    width: 425px;
    height: 247.5625px;
  }

  .container:hover {
    width: 435.625px;
    height: 253.40625px;
  }

  .monitor-stand {
    border-top: 10.625px solid #D1D3D6;
  }
}


/*~~~~~~~ MEDIUM AND SMALL BELOW ~~~~~~~~*/

/* 1023px and less ------------------------------ */
@media (max-width: 1023px) {
    .container, 
    .container:hover {
        padding-top: 1em;
    }
    
    /* Stand */
    .monitor-stand {
      position: relative;
      margin: 0 auto;
      height: 17%;
      width: 20%;
      background: #F3F3F4;
    }
    
    #headerImage {
        padding-bottom: 8em;
    }
    
    #headerToggle {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

/* 992px and less ------------------------------ */
@media (max-width: 992px) {
  .container {
    width: 600px;
    height: 350px;
  }
    
  .container:hover {
    width: 615px;
    height: 358px;
  }

  .monitor-stand {
    border-top: 15px solid #D1D3D6;
  }
    
    #headerImage {
        padding-bottom: 6em;
    }
}

/* 768px and less ------------------------------ */
@media (max-width: 768px) {
  .container,
  .container:hover {
    width: 450px;
    height: 262px;
  }

    #headerImage {
        padding-bottom: 4em;
    }    
    
  .monitor-stand {
    border-top: 12px solid #D1D3D6;
  }
}

/* 535px and less ------------------------------ */
@media (max-width: 535px) {
  .container,
  .container:hover {
    width: 400px;
    height: 232.8888px;
  }
    
    /* Scrollable section inside the screen */
    .content {
      width: calc(100%);
    }

  .monitor-stand {
    border-top: 10.666px solid #D1D3D6;
  }

}

/* 480px and less ------------------------------ */
@media (max-width: 480px) {
  .container,
  .container:hover {
    width: 300px;
    height: 175px;
  }
    
    /* Scrollable section inside the screen */
    .content {
      width: calc(100%);
    }

  .monitor-stand {
    border-top: 8px solid #D1D3D6;
  }

}

/* 320px and less ------------------------------ */
@media (max-width: 320px) {}

/* END MEDIA QUERIES */
/***********************/