/* BEGIN BEFORE AND AFTER IMAGE */
/* Responsive monitor with scrollable image from: https://codepen.io/sergep/pen/vkaFt */
/* Transition definition */
.container {
  -webkit-transition: width 0.4s ease, height 0.4s ease;
  -moz-transition: width 0.4s ease, height 0.4s ease;
  -o-transition: width 0.4s ease, height 0.4s ease;
  transition: width 0.4s ease, height 0.4s ease;
}

/* The container that defines the dimenions of the monitor - used in media queries */
.container {
  width: 900px;
  height: 525px;
}

.container:hover {
  width: 950px;
  height: 555px;
}

/* Silver monitor outline */
.monitor {
  padding: 4%;
  position:relative;
  background: #aaa;
  border-radius: 10px;
  height: 100%;
}

/* Camera on top of the monitor */
.monitor:before {
  content: "";
  display: block;
  background: #333;
  position: absolute;
  padding: 0.8%;
  margin-right: -0.4%;
  border-radius: 50%;
  right: 50%;
  top: 1.8%;
}

/* Power button on the bottom of monitor */
.monitor:after {
  content: "";
  display: block;
  background: #333;
  position: absolute;
  padding: 1%;
  border-radius: 10%;
  right: 4%;
  bottom: 1.5%;
}

/* The container of the content */
.screen {
  height: 100%;
  /*overflow: hidden; /* so that scroll bar is hidden */
}

/* Scrollable section inside the screen */
.content {
  height: 100%;
  /* width: calc(100% + 17px);  + 17px for scroll bar */
  width: calc(100%);
  overflow-y: scroll;
  position: relative;
}

/* Right side of silver screen */
.screen:after {
  content:'';
  display: block;
  height: 88%;
  background: #aaa;
  position: absolute;
  right: 0;
  top: 6%;
  width: 4%;
}

/* Image on the screen */
.oldPortfolioImage {
  display: block;
  width: 100%;
}

.newPortfolioImage {
    display: none;
    width: 100%;
}

/* Stand */
.monitor-stand {
  position: relative;
  margin: 0 auto;
  height: 15%;
  width: 20%;
  background: #F3F3F4;
}

/* Shadow on stand - have to set manually since border-top doesn't support % :( */
.monitor-stand {
  border-top: 24px solid #D1D3D6;
}

/* Bottom of stand */
.monitor-stand:after {
  content: '';
  position: absolute;
  background: #E7E8E9;
  height: 20%;
  width: 200%;
  margin-left: -50%;
  margin-top: 29%;
  border-radius: 5px;
}

/* Shadow */
.monitor-stand:before {
  content: '';
  position: absolute;
  width: 250%;
  height: 50%;
  margin-left: -75%;
  margin-top: 60%;
  opacity: 0.3;
  background: #000;
  border-radius: 50%;
}


/***********************/
/* BEGIN MEDIA QUERIES */

/* 640px - 769px ------------------------------ */
@media screen and (min-width: 40em) {
    .container {
        width: 100%;
        height: 18em;
    }

    .container:hover {
        width: 105%;
        height: 20.625em;
    }

    .monitor-stand {
        border-top: 0.794em solid #D1D3D6;
        height: 16.5%;
    }
    
    #headerImage {
        padding-bottom: 5em;
    }    
}

/* 770px - ?px ------------------------------ */
@media screen and (min-width: 48.125em) {
    .container {
        height: 23em;
    }
    
    .monitor-stand {
        border-top: 0.875em solid #D1D3D6;
        height: 16%;
    }
    
    #headerImage {
        padding-bottom: 8em;
    }   
}

/* 1024px and up ------------------------------ */
@media screen and (min-width: 64em) {
    .container {
        width: 42em;
        height: 21.875em;
    }

    .container:hover {
        width: 43.25em;
        height: 23.125em;
    }

    .monitor-stand {
        border-top: 1.016em solid #D1D3D6;
        height: 17%;
    }
}





/* ~~~~~~~ SMALL BELOW ~~~~~~~~ */

/* 639px and less ------------------------------ */
@media (max-width: 639px) {
    .container, 
    .container:hover {
        width: calc(0.78 * 650px);
        height: calc(0.78 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.78 * 16.25px) solid #D1D3D6;
    }
}

/* 625px and less ------------------------------ */
@media (max-width: 625px) {
    
    /* Scrollable section inside the screen PROBABLY UNNCESSARY
    .content {
      width: calc(100%);
    }
    */
    
    .container, 
    .container:hover {
        width: calc(0.76 * 650px);
        height: calc(0.76 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.76 * 16.25px) solid #D1D3D6;
    }
}

/* 600px and less ------------------------------ */
@media (max-width: 600px) {
    .container, 
    .container:hover {
        width: calc(0.70 * 650px);
        height: calc(0.70 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.70 * 16.25px) solid #D1D3D6;
    }
}

/* 575px and less ------------------------------ */
@media (max-width: 575px) {
    .container, 
    .container:hover {
        width: calc(0.68 * 650px);
        height: calc(0.68 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.68 * 16.25px) solid #D1D3D6;
    }
}

/* 550px and less ------------------------------ */
@media (max-width: 550px) {
    .container, 
    .container:hover {
        width: calc(0.66 * 650px);
        height: calc(0.66 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.66 * 16.25px) solid #D1D3D6;
    }
}

/* 525px and less ------------------------------ */
@media (max-width: 525px) {
    .container, 
    .container:hover {
        width: calc(0.64 * 650px);
        height: calc(0.64 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.64 * 16.25px) solid #D1D3D6;
    }
}

/* 500px and less ------------------------------ */
@media (max-width: 500px) {
    .container, 
    .container:hover {
        width: calc(0.60 * 650px);
        height: calc(0.60 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.60 * 16.25px) solid #D1D3D6;
    }
}

/* 475px and less ------------------------------ */
@media (max-width: 475px) {
    .container, 
    .container:hover {
        width: calc(0.56 * 650px);
        height: calc(0.56 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.56 * 16.25px) solid #D1D3D6;
    }
}

/* 450px and less ------------------------------ */
@media (max-width: 450px) {
    #headerImage {
        padding-bottom: 4em;
    }
    
    .container, 
    .container:hover {
        width: calc(0.52 * 650px);
        height: calc(0.52 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.52 * 16.25px) solid #D1D3D6;
    }
}

/* 425px and less ------------------------------ */
@media (max-width: 425px) {
    .container, 
    .container:hover {
        width: calc(0.50 * 650px);
        height: calc(0.50 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.50 * 16.25px) solid #D1D3D6;
    }
}

/* 400px and less ------------------------------ */
@media (max-width: 400px) {
    .container, 
    .container:hover {
        width: calc(0.48 * 650px);
        height: calc(0.48 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.48 * 16.25px) solid #D1D3D6;
    }
}

/* 375px and less ------------------------------ */
@media (max-width: 375px) {
    #headerImage {
        padding-bottom: 3em;
    }
    
    .container, 
    .container:hover {
        width: calc(0.42 * 650px);
        height: calc(0.42 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.42 * 16.25px) solid #D1D3D6;
    }
}

/* 350px and less ------------------------------ */
@media (max-width: 350px) {
    .container, 
    .container:hover {
        width: calc(0.40 * 650px);
        height: calc(0.40 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.40 * 16.25px) solid #D1D3D6;
    }
}

/* 325px and less ------------------------------ */
@media (max-width: 325px) {
    .container, 
    .container:hover {
        width: calc(0.38 * 650px);
        height: calc(0.38 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.38 * 16.25px) solid #D1D3D6;
    }
}

/* 300px and less ------------------------------ */
@media (max-width: 300px) {
    .container, 
    .container:hover {
        width: calc(0.36 * 650px);
        height: calc(0.36 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.36 * 16.25px) solid #D1D3D6;
    }
}


/* END MEDIA QUERIES */
/***********************/