#headerImage {
    padding-left: 2.5em;
    padding-right: 2.5em;
}


/* BEGIN BEFORE AND AFTER IMAGE */
/* Responsive monitor with scrollable image from: https://codepen.io/sergep/pen/vkaFt */
/* Transition definition */
.container {
  -webkit-transition: width 0.4s ease, height 0.4s ease;
  -moz-transition: width 0.4s ease, height 0.4s ease;
  -o-transition: width 0.4s ease, height 0.4s ease;
  transition: width 0.4s ease, height 0.4s ease;
}

/* The container that defines the dimenions of the monitor - used in media queries */
.container {
  width: 900px;
  height: 525px;
}

.container:hover {
  width: 950px;
  height: 555px;
}

/* Silver monitor outline */
.monitor {
  padding: 4%;
  position:relative;
  background: #aaa;
  border-radius: 10px;
  height: 100%;
}

/* Camera on top of the monitor */
.monitor:before {
  content: "";
  display: block;
  background: #333;
  position: absolute;
  padding: 0.8%;
  margin-right: -0.4%;
  border-radius: 50%;
  right: 50%;
  top: 1.8%;
}

/* Power button on the bottom of monitor */
.monitor:after {
  content: "";
  display: block;
  background: #333;
  position: absolute;
  padding: 1%;
  border-radius: 10%;
  right: 4%;
  bottom: 1.5%;
}

/* The container of the content */
.screen {
  height: 100%;
  /*overflow: hidden; /* so that scroll bar is hidden */
}

/* Scrollable section inside the screen */
.content {
  height: 100%;
  /* width: calc(100% + 17px);  + 17px for scroll bar */
  width: calc(100%);
  overflow-y: scroll;
  position: relative;
}

/* Right side of silver screen */
.screen:after {
  content:'';
  display: block;
  height: 88%;
  background: #aaa;
  position: absolute;
  right: 0;
  top: 6%;
  width: 4%;
}

/* Image on the screen */
.oldPortfolioImage {
  display: block;
  width: 100%;
}

.newPortfolioImage {
    display: none;
    width: 100%;
}

/* Stand */
.monitor-stand {
  position: relative;
  margin: 0 auto;
  height: 15%;
  width: 20%;
  background: #F3F3F4;
}

/* Shadow on stand - have to set manually since border-top doesn't support % :( */
.monitor-stand {
  border-top: 24px solid #D1D3D6;
}

/* Bottom of stand */
.monitor-stand:after {
  content: '';
  position: absolute;
  background: #E7E8E9;
  height: 20%;
  width: 200%;
  margin-left: -50%;
  margin-top: 29%;
  border-radius: 5px;
}

/* Shadow */
.monitor-stand:before {
  content: '';
  position: absolute;
  width: 250%;
  height: 50%;
  margin-left: -75%;
  margin-top: 60%;
  opacity: 0.3;
  background: #000;
  border-radius: 50%;
}






/***********************/
/* BEGIN MEDIA QUERIES */

/* ~~~~~ FOUNDATION MEDIA QUERIES ~~~~~ */

/* LARGE AND UP (>= 1024px) */
@media screen and (min-width: 64em) {
    #headerImage {
        padding-right: 1em;
    }

    /* Stand
    .monitor-stand {
      position: relative;
      margin: 0 auto;
      height: 15%;
      width: 20%;
      background: #F3F3F4;
    }   */
}





/* ~~~~ SPECIAL MEDIA QUERIES FOR RESPONSIVE & INTERACTIVE HEADER IMAGE ~~~~ */
/* 3000px and less ------------------------------ */
@media (max-width: 3000px) {
    #headerImage {
        padding-left: 31em;
        padding-bottom: 10em;
    }
    
    .container {
    width: calc(1.36 * 650px);
    height: calc(1.36 * 378.625px);
  }

    .container:hover {
    width: calc(1.36 * 682.90625px);
    height: calc(1.36 * 397.2515625px);
  }

    .monitor-stand {
    border-top: calc(1.36 * 16.25px) solid #D1D3D6;
  }
}

/* 2900px and less ------------------------------ */
@media (max-width: 2900px) {
    #headerImage {
        padding-left: 28em;
    }
}

/* 2800px and less ------------------------------ */
@media (max-width: 2800px) {
    #headerImage {
        padding-left: 25em;
    }
}

/* 2700px and less ------------------------------ */
@media (max-width: 2700px) {
    #headerImage {
        padding-left: 22em;
    }
}

/* 2600px and less ------------------------------ */
@media (max-width: 2600px) {
    #headerImage {
        padding-left: 19em;
    }
}

/* 2500px and less ------------------------------ */
@media (max-width: 2500px) {
    #headerImage {
        padding-left: 16em;
    }
}

/* 2400px and less ------------------------------ */
@media (max-width: 2400px) {
    #headerImage {
        padding-left: 13em;
    }
}

/* 2300px and less ------------------------------ */
@media (max-width: 2300px) {
    #headerImage {
        padding-left: 10em;
    }
}

/* 2200px and less ------------------------------ */
@media (max-width: 2200px) {
    #headerImage {
        padding-left: 6em;
    }
}

/* 2100px and less ------------------------------ */
@media (max-width: 2100px) {
    #headerImage {
        padding-left: 6em;
    }
}

/* 2075px and less ------------------------------ */
@media (max-width: 2075px) {
.container {
    width: calc(1.34 * 650px);
    height: calc(1.34 * 378.625px);
  }

  .container:hover {
    width: calc(1.34 * 682.90625px);
    height: calc(1.34 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.34 * 16.25px) solid #D1D3D6;
  }
}

/* 2050px and less ------------------------------ */
@media (max-width: 2050px) {
  .container {
    width: calc(1.32 * 650px);
    height: calc(1.32 * 378.625px);
  }

  .container:hover {
    width: calc(1.32 * 682.90625px);
    height: calc(1.32 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.32 * 16.25px) solid #D1D3D6;
  }
}

/* 2025px and less ------------------------------ */
@media (max-width: 2025px) {
  .container {
    width: calc(1.30 * 650px);
    height: calc(1.30 * 378.625px);
  }

  .container:hover {
    width: calc(1.30 * 682.90625px);
    height: calc(1.30 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.30 * 16.25px) solid #D1D3D6;
  }
}

/* 2000px and less ------------------------------ */
@media (max-width: 2000px) {
    #headerImage {
        padding-left: 5em;
        padding-bottom: 8em;
    }
    
  .container {
    width: calc(1.28 * 650px);
    height: calc(1.28 * 378.625px);
  }

  .container:hover {
    width: calc(1.28 * 682.90625px);
    height: calc(1.28 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.28 * 16.25px) solid #D1D3D6;
  }
}

/* 1975px and less ------------------------------ */
@media (max-width: 1975px) {
  .container {
    width: calc(1.26 * 650px);
    height: calc(1.26 * 378.625px);
  }

  .container:hover {
    width: calc(1.26 * 682.90625px);
    height: calc(1.26 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.26 * 16.25px) solid #D1D3D6;
  }
}

/* 1950px and less ------------------------------ */
@media (max-width: 1950px) {
  .container {
    width: calc(1.24 * 650px);
    height: calc(1.24 * 378.625px);
  }

  .container:hover {
    width: calc(1.24 * 682.90625px);
    height: calc(1.24 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.24 * 16.25px) solid #D1D3D6;
  }
}

/* 1925px and less ------------------------------ */
@media (max-width: 1925px) {
  .container {
    width: calc(1.22 * 650px);
    height: calc(1.22 * 378.625px);
  }

  .container:hover {
    width: calc(1.22 * 682.90625px);
    height: calc(1.22 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.22 * 16.25px) solid #D1D3D6;
  }
}

/* 1900px and less ------------------------------ */
@media (max-width: 1900px) {
    #headerImage {
        padding-left: 6em;
    }
    
  .container {
    width: calc(1.20 * 650px);
    height: calc(1.20 * 378.625px);
  }

  .container:hover {
    width: calc(1.20 * 682.90625px);
    height: calc(1.20 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.20 * 16.25px) solid #D1D3D6;
  }
}

/* 1875px and less ------------------------------ */
@media (max-width: 1875px) {
  .container {
    width: calc(1.19 * 650px);
    height: calc(1.19 * 378.625px);
  }

  .container:hover {
    width: calc(1.19 * 682.90625px);
    height: calc(1.19 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.19 * 16.25px) solid #D1D3D6;
  }
}

/* 1850px and less ------------------------------ */
@media (max-width: 1850px) {
  .container {
    width: calc(1.18 * 650px);
    height: calc(1.18 * 378.625px);
  }

  .container:hover {
    width: calc(1.18 * 682.90625px);
    height: calc(1.18 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.18 * 16.25px) solid #D1D3D6;
  }
}

/* 1825px and less ------------------------------ */
@media (max-width: 1825px) {
  .container {
    width: calc(1.16 * 650px);
    height: calc(1.16 * 378.625px);
  }

  .container:hover {
    width: calc(1.16 * 682.90625px);
    height: calc(1.16 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.16 * 16.25px) solid #D1D3D6;
  }
}

/* 1800px and less ------------------------------ */
@media (max-width: 1800px) {
    #headerImage {
        padding-left: 4em;
    }    

  .container {
    width: calc(1.16 * 650px);
    height: calc(1.16 * 378.625px);
  }

  .container:hover {
    width: calc(1.16 * 682.90625px);
    height: calc(1.16 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.16 * 16.25px) solid #D1D3D6;
  }
}

/* 1775px and less ------------------------------ */
@media (max-width: 1775px) {
  .container {
    width: calc(1.15 * 650px);
    height: calc(1.15 * 378.625px);
  }

  .container:hover {
    width: calc(1.15 * 682.90625px);
    height: calc(1.15 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.15 * 16.25px) solid #D1D3D6;
  }
}

/* 1750px and less ------------------------------ */
@media (max-width: 1750px) {
  .container {
    width: calc(1.14 * 650px);
    height: calc(1.14 * 378.625px);
  }

  .container:hover {
    width: calc(1.14 * 682.90625px);
    height: calc(1.14 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.14 * 16.25px) solid #D1D3D6;
  }
}

/* 1725px and less ------------------------------ */
@media (max-width: 1725px) {
  .container {
    width: calc(1.13 * 650px);
    height: calc(1.13 * 378.625px);
  }

  .container:hover {
    width: calc(1.13 * 682.90625px);
    height: calc(1.13 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.13 * 16.25px) solid #D1D3D6;
  }
}

/* 1700px and less ------------------------------ */
@media (max-width: 1700px) {
  .container {
    width: calc(1.10 * 650px);
    height: calc(1.10 * 378.625px);
  }

  .container:hover {
    width: calc(1.10 * 682.90625px);
    height: calc(1.10 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.10 * 16.25px) solid #D1D3D6;
  }
}

/* 1675px and less ------------------------------ */
@media (max-width: 1675px) {
  .container {
    width: calc(1.09 * 650px);
    height: calc(1.09 * 378.625px);
  }

  .container:hover {
    width: calc(1.09 * 682.90625px);
    height: calc(1.09 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.09 * 16.25px) solid #D1D3D6;
  }
}

/* 1650px and less ------------------------------ */
@media (max-width: 1650px) {
  .container {
    width: calc(1.06 * 650px);
    height: calc(1.06 * 378.625px);
  }

  .container:hover {
    width: calc(1.06 * 682.90625px);
    height: calc(1.06 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.06 * 16.25px) solid #D1D3D6;
  }
}

/* 1625px and less ------------------------------ */
@media (max-width: 1625px) {
  .container {
    width: calc(1.05 * 650px);
    height: calc(1.05 * 378.625px);
  }

  .container:hover {
    width: calc(1.05 * 682.90625px);
    height: calc(1.05 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.05 * 16.25px) solid #D1D3D6;
  }
}

/* 1600px and less ------------------------------ */
@media (max-width: 1600px) {
  .container {
    width: calc(1.04 * 650px);
    height: calc(1.04 * 378.625px);
  }

  .container:hover {
    width: calc(1.04 * 682.90625px);
    height: calc(1.04 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.04 * 16.25px) solid #D1D3D6;
  }
}

/* 1575px and less ------------------------------ */
@media (max-width: 1575px) {
  .container {
    width: calc(1.02 * 650px);
    height: calc(1.03 * 378.625px);
  }

  .container:hover {
    width: calc(1.02 * 682.90625px);
    height: calc(1.02 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.02 * 16.25px) solid #D1D3D6;
  }
}

/* 1550px and less ------------------------------ */
@media (max-width: 1550px) {
  .container {
    width: calc(1.01 * 650px);
    height: calc(1.01 * 378.625px);
  }

  .container:hover {
    width: calc(1.01 * 682.90625px);
    height: calc(1.01 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(1.01 * 16.25px) solid #D1D3D6;
  }
}

/* 1525px and less ------------------------------ */
@media (max-width: 1525px) {
  .container {
    width: calc(0.98 * 650px);
    height: calc(0.98 * 378.625px);
  }

  .container:hover {
    width: calc(0.98 * 682.90625px);
    height: calc(0.98 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.98 * 16.25px) solid #D1D3D6;
  }
}

/* 1500px and less ------------------------------ */
@media (max-width: 1500px) {
  .container {
    width: calc(0.97 * 650px);
    height: calc(0.97 * 378.625px);
  }

  .container:hover {
    width: calc(0.97 * 682.90625px);
    height: calc(0.97 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.97 * 16.25px) solid #D1D3D6;
  }
}

/* 1475px and less ------------------------------ */
@media (max-width: 1475px) {
  .container {
    width: calc(0.95 * 650px);
    height: calc(0.95 * 378.625px);
  }

  .container:hover {
    width: calc(0.95 * 682.90625px);
    height: calc(0.95 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.95 * 16.25px) solid #D1D3D6;
  }
}

/* 1450px and less ------------------------------ */
@media (max-width: 1450px) {
  .container {
    width: calc(0.93 * 650px);
    height: calc(0.93 * 378.625px);
  }

  .container:hover {
    width: calc(0.93 * 682.90625px);
    height: calc(0.93 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.93 * 16.25px) solid #D1D3D6;
  }
}

/* 1425px and less ------------------------------ */
@media (max-width: 1425px) {
  .container {
    width: calc(0.91 * 650px);
    height: calc(0.91 * 378.625px);
  }

  .container:hover {
    width: calc(0.91 * 682.90625px);
    height: calc(0.91 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.91 * 16.25px) solid #D1D3D6;
  }
}

/* 1400px and less ------------------------------ */
@media (max-width: 1400px) {
  .container {
    width: calc(0.90 * 650px);
    height: calc(0.90 * 378.625px);
  }

  .container:hover {
    width: calc(0.90 * 682.90625px);
    height: calc(0.90 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.90 * 16.25px) solid #D1D3D6;
  }
}

/* 1375px and less ------------------------------ */
@media (max-width: 1375px) {
  .container {
    width: calc(0.88 * 650px);
    height: calc(0.88 * 378.625px);
  }

  .container:hover {
    width: calc(0.88 * 682.90625px);
    height: calc(0.88 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.88 * 16.25px) solid #D1D3D6;
  }
}

/* 1350px and less ------------------------------ */
@media (max-width: 1350px) {
  .container {
    width: calc(0.86 * 650px);
    height: calc(0.86 * 378.625px);
  }

  .container:hover {
    width: calc(0.86 * 682.90625px);
    height: calc(0.86 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.86 * 16.25px) solid #D1D3D6;
  }
}

/* 1325px and less ------------------------------ */
@media (max-width: 1325px) {
  .container {
    width: calc(0.84 * 650px);
    height: calc(0.84 * 378.625px);
  }

  .container:hover {
    width: calc(0.84 * 682.90625px);
    height: calc(0.84 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.84 * 16.25px) solid #D1D3D6;
  }
}

/* 1300px and less ------------------------------ */
@media (max-width: 1300px) {
  .container {
    width: calc(0.82 * 650px);
    height: calc(0.82 * 378.625px);
  }

  .container:hover {
    width: calc(0.82 * 682.90625px);
    height: calc(0.82 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.82 * 16.25px) solid #D1D3D6;
  }
}

/* 1275px and less ------------------------------ */
@media (max-width: 1275px) {
  .container {
    width: calc(0.80 * 650px);
    height: calc(0.80 * 378.625px);
  }

  .container:hover {
    width: calc(0.80 * 682.90625px);
    height: calc(0.80 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.80 * 16.25px) solid #D1D3D6;
  }
}

/* 1250px and less ------------------------------ */
@media (max-width: 1250px) {
  .container {
    width: calc(0.78 * 650px);
    height: calc(0.78 * 378.625px);
  }

  .container:hover {
    width: calc(0.78 * 682.90625px);
    height: calc(0.78 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.78 * 16.25px) solid #D1D3D6;
  }
}

/* 1225px and less ------------------------------ */
@media (max-width: 1225px) {
  .container {
    width: calc(0.76 * 650px);
    height: calc(0.76 * 378.625px);
  }

  .container:hover {
    width: calc(0.76 * 682.90625px);
    height: calc(0.76 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.76 * 16.25px) solid #D1D3D6;
  }
}

/* 1200px and less ------------------------------ */
@media (max-width: 1200px) {  
  .container {
    width: calc(0.74 * 650px);
    height: calc(0.74 * 378.625px);
  }

  .container:hover {
    width: calc(0.74 * 682.90625px);
    height: calc(0.74 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.74 * 16.25px) solid #D1D3D6;
  }
}

/* 1175px and less ------------------------------ */
@media (max-width: 1175px) { 
  .container {
    width: calc(0.72 * 650px);
    height: calc(0.72 * 378.625px);
  }

  .container:hover {
    width: calc(0.72 * 682.90625px);
    height: calc(0.72 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.72 * 16.25px) solid #D1D3D6;
  }
}

/* 1150px and less ------------------------------ */
@media (max-width: 1150px) {
  .container {
    width: calc(0.70 * 650px);
    height: calc(0.70 * 378.625px);
  }

  .container:hover {
    width: calc(0.70 * 682.90625px);
    height: calc(0.70 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.70 * 16.25px) solid #D1D3D6;
  }
}

/* 1125px and less ------------------------------ */
@media (max-width: 1125px) {
  .container {
    width: calc(0.68 * 650px);
    height: calc(0.68 * 378.625px);
  }

  .container:hover {
    width: calc(0.68 * 682.90625px);
    height: calc(0.68 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.68 * 16.25px) solid #D1D3D6;
  }
}

/* 1100px and less ------------------------------ */
@media (max-width: 1100px) {
  .container {
    width: calc(0.66 * 650px);
    height: calc(0.66 * 378.625px);
  }

  .container:hover {
    width: calc(0.66 * 682.90625px);
    height: calc(0.66 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.66 * 16.25px) solid #D1D3D6;
  }
}

/* 1075px and less ------------------------------ */
@media (max-width: 1075px) {
  .container {
    width: calc(0.64 * 650px);
    height: calc(0.64 * 378.625px);
  }

  .container:hover {
    width: calc(0.64 * 682.90625px);
    height: calc(0.64 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.64 * 16.25px) solid #D1D3D6;
  }
}

/* 1050px and less ------------------------------ */
@media (max-width: 1050px) {
  .container {
    width: calc(0.62 * 650px);
    height: calc(0.62 * 378.625px);
  }

  .container:hover {
    width: calc(0.62 * 682.90625px);
    height: calc(0.62 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.62 * 16.25px) solid #D1D3D6;
  }
}

/* 1025px and less ------------------------------ */
@media (max-width: 1025px) {
  .container {
    width: calc(0.60 * 650px);
    height: calc(0.60 * 378.625px);
  }

  .container:hover {
    width: calc(0.60 * 682.90625px);
    height: calc(0.60 * 397.2515625px);
  }

  .monitor-stand {
    border-top: calc(0.60 * 16.25px) solid #D1D3D6;
  }
}




/* ~~~~~~~ MEDIUM BELOW ~~~~~~~~ */

/* 1023px and less ------------------------------ */
@media (max-width: 1023px) {    
    #headerImage {
        padding-bottom: 7em;
        padding-left: 0;
    }
    
    .container, 
    .container:hover {
        padding-top: 1.5em;
        width: calc(1.00 * 650px);
        height: calc(1.00 * 378.625px);
    }
    
    /* Adjust monitor-stand height to reach base for med & small screens */
    .monitor-stand {
      border-top: calc(1.00 * 16.25px) solid #D1D3D6;
      height: 17%;
    }
}

/* 1000px and less ------------------------------ */
@media (max-width: 1000px) {
    .container, 
    .container:hover {
        width: calc(0.99 * 650px);
        height: calc(0.99 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.99 * 16.25px) solid #D1D3D6;
    }
    

}

/* 975px and less ------------------------------ */
@media (max-width: 975px) {
    .container, 
    .container:hover {
        width: calc(0.98 * 650px);
        height: calc(0.98 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.98 * 16.25px) solid #D1D3D6;
    }
}

/* 950px and less ------------------------------ */
@media (max-width: 950px) {
    .container, 
    .container:hover {
        width: calc(0.97 * 650px);
        height: calc(0.97 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.97 * 16.25px) solid #D1D3D6;
    }
}

/* 925px and less ------------------------------ */
@media (max-width: 925px) {
    .container, 
    .container:hover {
        width: calc(0.96 * 650px);
        height: calc(0.96 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.96 * 16.25px) solid #D1D3D6;
    }
}

/* 900px and less ------------------------------ */
@media (max-width: 900px) {
    .container, 
    .container:hover {
        width: calc(0.95 * 650px);
        height: calc(0.95 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.95 * 16.25px) solid #D1D3D6;
    }
}

/* 875px and less ------------------------------ */
@media (max-width: 875px) {
    .container, 
    .container:hover {
        width: calc(0.94 * 650px);
        height: calc(0.94 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.94 * 16.25px) solid #D1D3D6;
    }
}

/* 850px and less ------------------------------ */
@media (max-width: 850px) {
    .container, 
    .container:hover {
        width: calc(0.93 * 650px);
        height: calc(0.93 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.93 * 16.25px) solid #D1D3D6;
    }
}

/* 825px and less ------------------------------ */
@media (max-width: 825px) {
    .container, 
    .container:hover {
        width: calc(0.92 * 650px);
        height: calc(0.92 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.92 * 16.25px) solid #D1D3D6;
    }
}

/* 800px and less ------------------------------ */
@media (max-width: 800px) {
    .container, 
    .container:hover {
        width: calc(0.91 * 650px);
        height: calc(0.91 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.91 * 16.25px) solid #D1D3D6;
    }
}

/* 775px and less ------------------------------ */
@media (max-width: 775px) {
    .container, 
    .container:hover {
        width: calc(0.90 * 650px);
        height: calc(0.90 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.90 * 16.25px) solid #D1D3D6;
    }
}

/* 750px and less ------------------------------ */
@media (max-width: 750px) {
    #headerImage {
        padding-bottom: 6em;
    }    
    
    .container, 
    .container:hover {
        width: calc(0.89 * 650px);
        height: calc(0.89 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.89 * 16.25px) solid #D1D3D6;
    }
}

/* 725px and less ------------------------------ */
@media (max-width: 725px) {
    .container, 
    .container:hover {
        width: calc(0.88 * 650px);
        height: calc(0.88 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.88 * 16.25px) solid #D1D3D6;
    }
}

/* 700px and less ------------------------------ */
@media (max-width: 700px) {
    .container, 
    .container:hover {
        width: calc(0.87 * 650px);
        height: calc(0.87 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.87 * 16.25px) solid #D1D3D6;
    }
}

/* 675px and less ------------------------------ */
@media (max-width: 675px) {
    .container, 
    .container:hover {
        width: calc(0.85 * 650px);
        height: calc(0.85 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.85 * 16.25px) solid #D1D3D6;
    }
}

/* 650px and less ------------------------------ */
@media (max-width: 650px) {
    .container, 
    .container:hover {
        width: calc(0.83 * 650px);
        height: calc(0.83 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.83 * 16.25px) solid #D1D3D6;
    }
}




/* ~~~~~~~ SMALL BELOW ~~~~~~~~ */

/* 639px and less ------------------------------ */
@media (max-width: 639px) {
    #headerImage {
        padding-bottom: 5em;
    }
    
    .container, 
    .container:hover {
        width: calc(0.68 * 650px);
        height: calc(0.68 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.68 * 16.25px) solid #D1D3D6;
    }
}

/* 625px and less ------------------------------ */
@media (max-width: 625px) {
    
    /* Scrollable section inside the screen PROBABLY UNNCESSARY
    .content {
      width: calc(100%);
    }
    */
    
    .container, 
    .container:hover {
        width: calc(0.66 * 650px);
        height: calc(0.66 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.66 * 16.25px) solid #D1D3D6;
    }
}

/* 600px and less ------------------------------ */
@media (max-width: 600px) {
    .container, 
    .container:hover {
        width: calc(0.64 * 650px);
        height: calc(0.64 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.64 * 16.25px) solid #D1D3D6;
    }
}

/* 575px and less ------------------------------ */
@media (max-width: 575px) {
    .container, 
    .container:hover {
        width: calc(0.62 * 650px);
        height: calc(0.62 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.62 * 16.25px) solid #D1D3D6;
    }
}

/* 550px and less ------------------------------ */
@media (max-width: 550px) {
    .container, 
    .container:hover {
        width: calc(0.60 * 650px);
        height: calc(0.60 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.60 * 16.25px) solid #D1D3D6;
    }
}

/* 525px and less ------------------------------ */
@media (max-width: 525px) {
    .container, 
    .container:hover {
        width: calc(0.58 * 650px);
        height: calc(0.58 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.58 * 16.25px) solid #D1D3D6;
    }
}

/* 500px and less ------------------------------ */
@media (max-width: 500px) {
    .container, 
    .container:hover {
        width: calc(0.56 * 650px);
        height: calc(0.56 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.56 * 16.25px) solid #D1D3D6;
    }
}

/* 475px and less ------------------------------ */
@media (max-width: 475px) {
    .container, 
    .container:hover {
        width: calc(0.54 * 650px);
        height: calc(0.54 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.54 * 16.25px) solid #D1D3D6;
    }
}

/* 450px and less ------------------------------ */
@media (max-width: 450px) {
    #headerImage {
        padding-bottom: 4em;
    }
    
    .container, 
    .container:hover {
        width: calc(0.52 * 650px);
        height: calc(0.52 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.52 * 16.25px) solid #D1D3D6;
    }
}

/* 425px and less ------------------------------ */
@media (max-width: 425px) {
    .container, 
    .container:hover {
        width: calc(0.50 * 650px);
        height: calc(0.50 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.50 * 16.25px) solid #D1D3D6;
    }
}

/* 400px and less ------------------------------ */
@media (max-width: 400px) {
    .container, 
    .container:hover {
        width: calc(0.48 * 650px);
        height: calc(0.48 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.48 * 16.25px) solid #D1D3D6;
    }
}

/* 375px and less ------------------------------ */
@media (max-width: 375px) {
    #headerImage {
        padding-bottom: 3em;
    }
    
    .container, 
    .container:hover {
        width: calc(0.42 * 650px);
        height: calc(0.42 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.42 * 16.25px) solid #D1D3D6;
    }
}

/* 350px and less ------------------------------ */
@media (max-width: 350px) {
    .container, 
    .container:hover {
        width: calc(0.40 * 650px);
        height: calc(0.40 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.40 * 16.25px) solid #D1D3D6;
    }
}

/* 325px and less ------------------------------ */
@media (max-width: 325px) {
    .container, 
    .container:hover {
        width: calc(0.38 * 650px);
        height: calc(0.38 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.38 * 16.25px) solid #D1D3D6;
    }
}

/* 300px and less ------------------------------ */
@media (max-width: 300px) {
    .container, 
    .container:hover {
        width: calc(0.36 * 650px);
        height: calc(0.36 * 378.625px);
    }

    .monitor-stand {
        border-top: calc(0.36 * 16.25px) solid #D1D3D6;
    }
}


/* END MEDIA QUERIES */
/***********************/