/***********************/
/* BEGIN HEADER STYLING */
header {
    background: #22252C;
    padding: 2.5em 0;
}

#headerText {
    padding: 0 2.5em 0 2.5em;
    margin: 0 0;
}

.sectionUnderline {
    width: 50%;
    height: auto;
    margin-right: 50%;
    padding-bottom: 1.25em;
}

header section article h1 {
    color: #E14658;
    line-height: 1;
}

header section article h2 {
    color: #E14658;
    line-height: 0.7;
}

header section article h3 {
    color: #EBEDF3;
    line-height: 1;
}

header section article h4 {
    color: #E14658;
    margin-bottom: 0;
}

header section article p {
    color: #EBEDF3;
}
/* END HEADER STYLING */
/***********************/


/***********************/
/* BEGIN SECTION STYLING */
main {
    max-width: 115rem;
    padding: 0 1em 3em 1em;
}

section {
    padding: 1.50em 2em 0 2em;
}

section h5 {
    color: #29394B;
}

section p {
    color: #000000;
}

.sectionTag {
    width: 100%;
    height: auto;
    padding-top: 1.250em;
    margin: 0 0;
}

.bodyText {
    padding-top: 1em;
    margin: 0 0;
}

main .card {
    background: #EBEDF3;
    border: 0;
    padding: 0 0.55em;
}

/* BEGIN STYLING FOR STATISTICS */
main .stat {
    font-size: 1.7rem;
}

.statText {
    font-size: 0.875em;
}

.statsIcon {
    padding: 1.25em 0 1em 0;
    width: 50%;
    margin: auto;
}
/* END STYLING FOR STATISTICS */

.regularImage {
    padding: 1.25em 0 2.5em 0;
    cursor: pointer;
    transition: 0.3s;
}

.regularImage:hover {
    opacity: 0.7;
}


/* END SECTION STYLING */
/***********************/


/***********************/
/* BEGIN MEDIA QUERIES */
    /* SMALL ONLY */
    @media screen and (max-width: 39.9375em) { }

    /* MEDIUM AND UP */
    @media screen and (min-width: 40em) {        
        
        /***********************/
        /* BEGIN HEADER STYLING */
        header {
            padding: 3.5em 2em;
        }
        
        #headerText {
            padding: 0 3em;
        }
        /* END HEADER STYLING */
        /***********************/
        
        /***********************/
        /* BEGIN SECTION STYLING */
        section {
            padding: 1.50em 3.125em 0 3.125em;
        }
        
        .mainContent {
            padding: 0 2em 3em 2em;
        }
        
        .statsIcon {
            width: 30%;
        }
        /* END SECTION STYLING */
        /***********************/
    }

    /* LARGE AND UP */
    @media screen and (min-width: 64em) {

        /***********************/
        /* BEGIN HEADER STYLING */
        #headerText {
            padding: 0 2.5em 0 0.9em;
            margin: 0 0 0 0;
        }
        /* END HEADER STYLING */
        /***********************/
           
        /***********************/
        /* BEGIN SECTION STYLING */
        .mainContent {
            padding-bottom: 3em;
        }
        
        
        section {
            padding: 1.50em 0 0 0;
            margin: 0 0 0 0;
        }
        
        .sectionTag {
            padding: 1.6em 2em 0 3em;
        }
        
        .bodyText {
            padding: 2.25em 0 0 1em;
        }
        
        /* END SECTION STYLING */
        /***********************/
    }
/* END MEDIA QUERIES */
/***********************/