.headerToggle {
    font-family: "Roboto Condensed";
    padding-top: 1em;
}

/* LARGE AND UP (>= 1024px) */
@media screen and (min-width: 64em) {
    .headerToggle {
        padding: 0 0 3em 60px;
    }
}
